Repository Monkestation/Monkestation2.0, pull requests merged in 2025-09, with the labels that each got.

#7862 More item interaction fixes
  monkestation/code/modules/blueshift/structures/ash_walker.dm
  monkestation/code/modules/blueshift/structures/cauldron.dm
  monkestation/code/modules/blueshift/structures/primative.dm
Labels: Approval: admin approved

#7873 Adds an option to hide your ckey from the roundend report
  code/__HELPERS/roundend.dm
  code/modules/client/preferences/hide_roundend_ckey.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/hide_roundend_ckey.tsx
Labels: Feature: Feature, Approval: admin approved

#7893 Fix pathology interactions
  code/__DEFINES/~monkestation/is_helpers.dm
  code/modules/food_and_drinks/machinery/smartfridge.dm
  monkestation/code/modules/cargo/bounties/pathology.dm
  monkestation/code/modules/virology/disease/base_disease_folder/general_procs.dm
  monkestation/code/modules/virology/items/antibodyscanner.dm
  monkestation/code/modules/virology/items/extrapolator.dm
  monkestation/code/modules/virology/items/virusdish.dm
  monkestation/code/modules/virology/machines/analyzer.dm
  monkestation/code/modules/virology/machines/centrifuge.dm
  monkestation/code/modules/virology/machines/curer.dm
  monkestation/code/modules/virology/machines/incubator.dm
  monkestation/code/modules/virology/machines/isolator.dm
  monkestation/code/modules/virology/machines/splicer.dm
  monkestation/code/modules/virology/reagents/_stage_mutations.dm
  monkestation/code/modules/virology/reagents/incubation.dm
Labels: Code: Fix

#7905 Fixes the genetic sequence scanner output
  code/game/objects/items/devices/scanners/sequence_scanner.dm
Labels: Code: Fix

#7911 Fixes signal circuit not working | refactors name of timer cooldown macros to be inherent, also docs them
  code/__DEFINES/cooldowns.dm
  code/datums/components/bumpattack.dm
  code/datums/emotes.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/turfs/closed/minerals.dm
  code/modules/assembly/signaler.dm
  code/modules/cargo/expressconsole.dm
  code/modules/mob/living/emote.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/vehicles/cars/clowncar.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/marauder.dm
  code/modules/vehicles/mecha/combat/savannah_ivanov.dm
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
  code/modules/vehicles/mecha/mecha_movement.dm
  code/modules/vehicles/vehicle_actions.dm
  code/modules/wiremod/components/action/pathfind.dm
  code/modules/wiremod/components/action/radio.dm
  code/modules/wiremod/components/action/soundemitter.dm
  code/modules/wiremod/components/action/speech.dm
  code/modules/wiremod/components/bci/hud/target_intercept.dm
  code/modules/wiremod/components/sensors/view_sensor.dm
  monkestation/code/game/machinery/bomb_actualizer.dm
  monkestation/code/modules/antagonists/clock_cult/mechas/steam_helios.dm
  monkestation/code/modules/blueshift/structures/flipped_table.dm
  monkestation/code/modules/cybernetics/elements/dancing.dm
  monkestation/code/modules/security/code/weapons/paco.dm
Labels: Code: Fix, Feature: Refactor/Rework

#7910 Viewer defines
  code/__HELPERS/view.dm
  code/datums/components/fullauto.dm
  code/datums/components/ranged_mob_full_auto.dm
  code/modules/antagonists/monster_hunters/monsters/monster_effects/white_rabbit.dm
  code/modules/mob/dead/observer/observer_say.dm
  code/modules/projectiles/guns/energy/special.dm
  monkestation/code/modules/bloodsuckers/powers/targeted/lunge.dm
  monkestation/code/modules/slimecore/items/vacuum_pack.dm
Labels: Code: Fix

#7823 resprites some bottles
  icons/obj/drinks/bottles.dmi
Labels: Change: spriting

#7664 Edible donksoft darts and toys
  code/game/objects/items/emags.dm
  code/game/objects/items/toys.dm
  code/modules/projectiles/ammunition/caseless/foam.dm
  code/modules/projectiles/projectile/reusable/foam_dart.dm
Labels: Feature: Feature, Funny

#7923 Update emergency_hugcage.dmm
  _maps/shuttles/emergency_hugcage.dmm
Labels: Change: Mapping

#7929 Fix atmos resin backpack
  code/game/objects/items/tanks/watertank.dm
Labels: Code: Fix, Fixed Upstream

#7915 [BOUNTY] Space Dragons No Longer Die If They Don't Place a Rift
  code/modules/antagonists/space_dragon/carp_rift.dm
  code/modules/antagonists/space_dragon/space_dragon.dm
  code/modules/unit_tests/dragon_expiration.dm
  tools/pull_request_hooks/tests/flakyTestPayloads/invalid_timer.txt
Labels: Removal, Approval: admin approved

#7938 Fix the whip having the guaranteed disarm again
  code/game/objects/items/melee/curators_whip.dm
  code/game/objects/items/melee/misc.dm
  monkestation/code/modules/jobs/job_types/curator.dm
Labels: Code: Fix

#7842 Slasher Beartrap Recall Ability
  monkestation/code/modules/blood_for_the_blood_gods/slasher/abilities/recall_traps.dm
  monkestation/code/modules/blood_for_the_blood_gods/slasher/slasher_datum.dm
  monkestation/code/modules/blood_for_the_blood_gods/slasher/slasher_outfit/slasher_clothing.dm
  tgstation.dme
Labels: Code: Fix, Feature: Feature, Balance

#7766 Prop Summoner NIF + book summoner NIF
  code/modules/cargo/goodies.dm
  code/modules/library/book.dm
  code/modules/modular_implants/nifsoft_catalog.dm
  code/modules/modular_implants/nifsofts/book_summoner.dm
  code/modules/modular_implants/nifsofts/prop_summoner.dm
  tgstation.dme
Labels: Feature: Feature, Approval: admin approved

#7878 Removes hidden limb health decrease from IPCs
  monkestation/code/modules/mob/living/carbon/human/species_type/ipc.dm
  monkestation/code/modules/surgery/bodyparts/ipc_bodyparts.dm
Labels: Code: Fix, Balance

#7547 ports CI from skyrat
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/~monkestation/keybinding.dm
  code/datums/keybinding/mob.dm
  code/modules/indicators/combat_indicator.dm
  config/config.txt
  icons/mob/effects/combat_indicator.dmi
  tgstation.dme
Labels: Feature: Feature

#7937 This map is pissing me off. I am the original starwalker
  _maps/map_files/Theseus/Theseus.dmm
Labels: Change: Mapping

#7960 actually fixes invisible encryption keys
  code/game/objects/items/devices/radio/encryptionkey.dm
Labels: Code: Fix

#7971 fix renaming items with pens
  code/modules/paperwork/pen.dm
Labels: Code: Fix

#7855 Removal of the IPC punishment system
  code/datums/quirks/negative_quirks/allergic.dm
  code/datums/quirks/negative_quirks/food_allergy.dm
  code/datums/quirks/negative_quirks/frail.dm
  code/datums/quirks/negative_quirks/insanity.dm
  monkestation/code/datums/quirks/negative_quirks/allergic.dm
  monkestation/code/datums/quirks/negative_quirks/food_allergy.dm
  monkestation/code/datums/quirks/negative_quirks/frail.dm
  monkestation/code/datums/quirks/negative_quirks/insanity.dm
  monkestation/code/datums/quirks/negative_quirks/light_drinker.dm
  tgstation.dme
Labels: Removal, Balance

#7621 Brain worms and their willing hosts.
  code/__DEFINES/antagonists.dm
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/span.dm
  code/datums/hud.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/game/data_huds.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  interface/stylesheet.dm
  monkestation/code/modules/antagonists/borers/code/abilities/force_speech.dm
  monkestation/code/modules/antagonists/borers/code/abilities/willing_host.dm
  monkestation/code/modules/antagonists/borers/code/antagonist_stuff/antagonist_datum.dm
  monkestation/code/modules/antagonists/borers/code/mobs/cortical_borer.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Feature: enhancement, QoL

#7419 Machining! An evolution to smithing! [BOUNTY]
  _maps/map_files/Blueshift/Blueshift.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Graveyard/Graveyard.dmm
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/clothing/back/backpack.dmi
  icons/obj/weapons/guns/minigun.dmi
  monkestation/code/modules/machining/__machining_defines.dm
  monkestation/code/modules/machining/machining_exclusives.dm
  monkestation/code/modules/machining/machining_exports.dm
  monkestation/code/modules/machining/machining_intermediates.dm
  monkestation/code/modules/machining/machining_skill.dm
  monkestation/code/modules/machining/machining_structures.dm
  monkestation/code/modules/machining/recipes/_machining_recipes.dm
  monkestation/code/modules/machining/recipes/assembly_parts.dm
  monkestation/code/modules/machining/recipes/general_parts.dm
  monkestation/code/modules/machining/recipes/specific_parts.dm
  monkestation/code/modules/machining/recipes/type_parts.dm
  monkestation/icons/mob/inhands/weapons/guns_lefthand.dmi
  monkestation/icons/mob/inhands/weapons/guns_righthand.dmi
  monkestation/icons/obj/machines/machining_machinery.dmi
  monkestation/icons/obj/machining_intermediates.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Machining.tsx
Labels: Feature: Feature, Approval: admin approved

#7985 Revert "Reduces tgui load time by removing the icon ref map"
  code/datums/components/uplink.dm
  code/datums/elements/strippable.dm
  code/game/machinery/computer/orders/order_computer/order_computer.dm
  code/game/objects/structures/ore_containers.dm
  code/modules/antagonists/darkspawn/darkspawn_antag.dm
  code/modules/antagonists/malf_ai/malf_ai.dm
  code/modules/antagonists/monster_hunters/hunter_datum.dm
  code/modules/asset_cache/assets/icon_ref_map.dm
  code/modules/asset_cache/assets/uplink.dm
  code/modules/hydroponics/seed_extractor.dm
  code/modules/lootpanel/search_object.dm
  code/modules/mining/machine_redemption.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/research/destructive_analyzer.dm
  code/modules/tgui/tgui.dm
  code/modules/vending/_vending.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_datum.dm
  monkestation/code/modules/blueshift/components/armament.dm
  monkestation/code/modules/hydroponics/botanical_lexicon.dm
  monkestation/code/modules/store/pre_round/_pre_round_store.dm
  monkestation/code/modules/store/store_items/__store.dm
  tgstation.dme
  tgui/packages/tgui/components/DmIcon.tsx
  tgui/packages/tgui/icons.ts
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/interfaces/StripMenu.tsx
Labels: Code: Improvement, Process: should testmerge

#7991 Adds a visible message for oozelings being melted by water
  code/modules/mob/living/carbon/human/species_types/oozeling/_oozelings.dm
Labels: QoL

#7931 Buffs darkspawn tankiness
  code/modules/antagonists/darkspawn/darkspawn_upgrades/passive_upgrades.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
Labels: Balance, Approval: admin approved

#7784 [BALANCE] Tracker Implant Re-balancing
  code/game/machinery/computer/prisoner/management.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/implants/implant.dm
  code/game/objects/items/implants/implant_track.dm
  code/game/objects/items/implants/implantcase.dm
  code/game/objects/items/storage/boxes/security_boxes.dm
  code/game/objects/items/teleportation.dm
  code/modules/surgery/implant_removal.dm
Labels: Balance, Approval: admin approved

#8006 Fixes misspelled Ratvars
  code/modules/mob/living/silicon/robot/robot_defense.dm
  html/changelogs/archive/2020-02.yml
  monkestation/code/modules/antagonists/clock_cult/antag_datums/clock_cult_team.dm
  monkestation/code/modules/antagonists/clock_cult/antag_datums/clock_cultist.dm
  monkestation/code/modules/antagonists/clock_cult/antag_datums/clocksense_alert.dm
  monkestation/code/modules/antagonists/clock_cult/antag_datums/eminence_antag_datum.dm
  monkestation/code/modules/antagonists/clock_cult/machines/observation_console.dm
  monkestation/code/modules/antagonists/clock_cult/mobs/cogscarab.dm
  monkestation/code/modules/antagonists/clock_cult/mobs/eminence.dm
  monkestation/code/modules/antagonists/clock_cult/ratvar.dm
  monkestation/code/modules/antagonists/clock_cult/scriptures/preservation/summon_cogscarab.dm
  monkestation/code/modules/antagonists/clock_cult/scriptures/servitude/submission_sigil.dm
  monkestation/code/modules/antagonists/clock_cult/structures/eminence_beacon.dm
  monkestation/code/modules/antagonists/clock_cult/structures/sigil/sigil_submission.dm
  monkestation/code/modules/antagonists/clock_cult/structures/sigil/sigil_transmission.dm
  monkestation/code/modules/antagonists/clock_cult/structures/the_ark.dm
  monkestation/code/modules/antagonists/evil_clone/evil_clone_objective.dm
  monkestation/code/modules/hallucination/clock_cult_hallucinations.dm
  monkestation/code/modules/mob/living/basic/pets/walterverse.dm
  monkestation/code/modules/random_rooms/bars/tram_bar_modules.dm
  monkestation/strings/junkmail.txt
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/clockcultist.ts
Labels: Code: Fix

#7978 mrrrp mrrrp mrrrrow (more bugfixes)
  code/controllers/subsystem/sounds.dm
  code/datums/components/effect_remover.dm
  code/datums/components/jousting.dm
  code/datums/elements/light_eater.dm
  code/game/objects/effects/anomalies/_anomalies.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/devices/broadcast_camera.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/devices/scanners/gas_analyzer.dm
  code/game/objects/items/melee/curators_whip.dm
  code/modules/antagonists/darkspawn/darkspawn_antag.dm
  code/modules/antagonists/darkspawn/darkspawn_objects/thrall_tumor.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/client/client_procs.dm
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/indicators/combat_indicator.dm
  code/modules/lootpanel/contents.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mob/living/basic/vermin/mouse.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_paint.dm
  code/modules/projectiles/projectile/special/curse.dm
  code/modules/research/xenobiology/crossbreeding/_potions.dm
  code/modules/research/xenobiology/xenobiology.dm
  monkestation/code/game/objects/effects/anomalies/_anomalies.dm
  monkestation/code/game/objects/items/devices/compression_kit.dm
  monkestation/code/game/objects/items/devices/scanners/gas_analyzer.dm
  monkestation/code/modules/antagonists/clock_cult/items/replica_fabricator.dm
  monkestation/code/modules/blood_datum/stunning.dm
  monkestation/code/modules/blood_for_the_blood_gods/slasher/abilities/recall_machette.dm
  monkestation/code/modules/clothing/durathread_weave.dm
  monkestation/code/modules/donator/code/mob/pets.dm
  monkestation/code/modules/liquids/liquid_interaction.dm
  monkestation/code/modules/ranching/chicken_carrier.dm
  monkestation/code/modules/research/nanites/nanite_remote.dm
  monkestation/code/modules/slimecore/corral/machines/corral_corner.dm
  monkestation/code/modules/slimecore/machines/biomass_recycler.dm
  monkestation/code/modules/virology/effects/pathogen_cloud.dm
  tgstation.dme
Labels: Code: Fix

#5449 really quick bandaid patch to make custom area lighting work
  code/__HELPERS/areas.dm
Labels: what, Code: Fix, fuck it we ball

#8017 Deparadoxing Walter the bullterrier and Walter the Doberman
  _maps/map_files/Blueshift/Blueshift.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Graveyard/Graveyard.dmm
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/Theseus/Theseus.dmm
  _maps/map_files/Voidraptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/modules/mob/living/basic/pets/dog/dog_subtypes.dm
  icons/mob/pets.dmi
  icons/mob/simple/pets.dmi
  monkestation/code/modules/antagonists/traitor/objectives/kill_pet.dm
  monkestation/code/modules/blueshift/mobs/misc_pets.dm
  monkestation/code/modules/mob/living/basic/pets/walterverse.dm
Labels: Change: spriting, Change: Mapping

#7992 Centcom borgos
  code/game/machinery/_machinery.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/kitchen.dm
  code/game/objects/items/rcd/RSF.dm
  code/game/objects/items/robot/items/hypo.dm
  code/game/objects/items/robot/items/storage.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/food_and_drinks/machinery/oven.dm
  code/modules/food_and_drinks/machinery/stove.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/silicon/laws.dm
  code/modules/mob/living/silicon/robot/laws.dm
  code/modules/mob/living/silicon/robot/login.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/stun.dm
  icons/mob/inhands/equipment/custodial_lefthand.dmi
  icons/mob/inhands/equipment/custodial_righthand.dmi
  icons/mob/inhands/equipment/tools_lefthand.dmi
  icons/mob/inhands/equipment/tools_righthand.dmi
  icons/mob/silicon/attribution.txt
  icons/mob/silicon/robots.dmi
  icons/obj/tools.dmi
  icons/obj/watercloset.dmi
  monkestation/code/game/objects/items/robot/items/borg_cooking.dm
  monkestation/code/modules/hydroponics/machines/composter.dm
  tgstation.dme
Labels: Feature: Feature, Approval: admin approved

#8067 balance changes to some xenobio extracts
  code/modules/movespeed/modifiers/status_effects.dm
  code/modules/research/xenobiology/crossbreeding/_mobs.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/research/xenobiology/crossbreeding/_weapons.dm
  code/modules/research/xenobiology/crossbreeding/burning.dm
  code/modules/research/xenobiology/crossbreeding/stabilized.dm
  monkestation/code/modules/the_wolf_inside_of_me/species.dm
Labels: Balance, Approval: awaiting admin review

#8069 Port furnace
  code/__DEFINES/traits/declarations.dm
  code/__HELPERS/filters.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/connect_range.dm
  code/datums/components/crafting/equipment.dm
  code/datums/proximity_monitor/fields/bubble.dm
  code/datums/proximity_monitor/fields/projectile_dampener.dm
  code/datums/proximity_monitor/fields/projectile_dampener/projectile_dampener.dm
  code/datums/proximity_monitor/fields/projectile_dampener/projectile_dampener_effects.dm
  code/datums/proximity_monitor/fields/space_protection.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/robot/items/tools.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mod/modules/modules_security.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/research_nodes.dm
  icons/effects/fields.dmi
  icons/mob/clothing/back.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/lighting.dmi
  monkestation/code/modules/antagonists/clock_cult/structures/interdiction_lens.dm
  sound/effects/fire_puff.ogg
  sound/items/weapons/gun/bow/attribution.txt
  sound/items/weapons/gun/bow/bow_draw.ogg
  sound/items/weapons/gun/bow/bow_fire.ogg
  sound/machines/crate/attribution.txt
  sound/machines/crate/crate_close.ogg
  sound/machines/crate/crate_open.ogg
  tgstation.dme
Labels: Feature: Feature, Approval: admin approved, Code: Improvement

#8087 Gives the CMO access to advanced surgeries roundstart
  code/datums/station_traits/positive_traits.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/surgery/organs/autosurgeon.dm
Labels: Balance, Approval: admin approved

#7715 [BOUNTY] Lathable Mining Beacons
  code/modules/research/designs/autolathe/engineering_designs.dm
  code/modules/research/techweb/engi_nodes.dm
Labels: Feature: Feature

#8157 anomalock interaction
  code/modules/surgery/organs/internal/heart/heart_anomalock.dm
Labels: Code: Fix

#8183 fix a stupid warning in awakened carp's code
  monkestation/code/modules/martial_arts/awakened_dragon.dm
Labels: Code: Fix, Code: Improvement

#8191 Names Brig Physician's Toolbox, well, Brig Physician's Toolbox (typo fix)
  monkestation/code/game/objects/items/storage/toolbox.dm
Labels: Code: Fix

#7641 Nanotrasen Support 6th Battalion 3rd Company
  _maps/map_files/generic/CentCom.dmm
  code/datums/components/riding/riding_vehicle.dm
  code/game/objects/structures/deployable_turret.dm
  code/modules/projectiles/projectile/special/rocket.dm
  code/modules/vehicles/artillery.dm
  code/modules/vehicles/mecha/combat/devitt.dm
  code/modules/vehicles/mecha/mecha_wreckage.dm
  icons/mecha/largetanks.dmi
  icons/mecha/supertanks.dmi
  icons/mecha/tanks.dmi
  monkestation/icons/mecha/tanks.dmi
  tgstation.dme
Labels: Approval: admin approved

#8143 ghost players can now hear deadchat
  monkestation/code/modules/ghost_players/ghost_player.dm
Labels: Feature: Feature

#8231 fixes a compiler warning with artillery code (+ minor code improvements)
  code/modules/vehicles/artillery.dm
Labels: Code: Fix, Code: Improvement

#8239 Fixes ethereal hair updating.
  monkestation/code/modules/mob/living/carbon/human/species_type/ethereal.dm
Labels: Code: Fix

#8020 Update some afterattacks to interact with atoms
  code/game/objects/items/tools/painter/decal_painter.dm
  code/modules/industrial_lift/tram/tram_remote.dm
  code/modules/modular_implants/misc_devices.dm
  monkestation/code/game/objects/items/superglue.dm
  monkestation/code/modules/blueshift/components/soulcatcher.dm
  monkestation/code/modules/blueshift/items/ash_walker.dm
Labels: Code: Fix

#8262 [PORT] Caps the eyeblur caused through apply_effects()
  code/modules/mob/living/damage_procs.dm
Labels: Code: Fix, Fixed Upstream

#8261 fix the stale issues thingymajig
  .github/workflows/stale.yml
  .github/workflows/stale_issues.yml
Labels: Tools, peak, Code: Fix, QoL, fuck it we ball, Approval: admin approved, Funny, Code: Improvement

#8247 Inorganic Biology and Necrotic Metabolism now apply on symptom addition
  monkestation/code/modules/virology/disease/symtoms/flavor/special_adaptation.dm
Labels: Code: Fix

#8269 fixes all misspellings of "oozeling"
  code/game/machinery/computer/arcade/arcade.dm
  code/game/machinery/computer/orders/order_items/mining/order_survival.dm
  code/modules/mob/living/basic/lavaland/legion/legion.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  monkestation/code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  monkestation/code/modules/surgery/organs/internal/brain.dm
  tools/ci/check_grep.sh
Labels: Code: Fix

#8303 PATHO HOTFIX AUGH HATRED
  monkestation/code/modules/virology/machines/splicer.dm
Labels: Code: Fix

#8271 makes the spooky lantern small instead of normal sized
  code/modules/mining/lavaland/tendril_loot.dm
Labels: QoL, Approval: admin approved

#8273 Fix brains/cores being labeled as "unknown" if they died without an ID.
  code/modules/mob/living/brain/brain_item.dm
  monkestation/code/modules/surgery/organs/internal/brain.dm
Labels: Code: Fix

#8182 being cold-blooded now actually affects body temperature regulation
  code/__DEFINES/traits/monkestation/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/life.dm
Labels: Balance, Approval: admin approved

#8241 [QOL] [FIX] Adds a preference toggle for spinning and flipping making stacks of hats come off. Adds another way to disassemble hat stacks. Fixes some minor description bugs with stacks of hats.
  code/modules/client/preferences/spin_flip_hats.dm
  code/modules/mob/emote.dm
  monkestation/code/modules/clothing/head/misc.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/spin_flip_hats.tsx
Labels: Code: Fix, QoL

#8314 Somehow even more interaction fixes
  code/game/objects/items/crayons.dm
  code/game/objects/items/debug_items.dm
  code/game/objects/items/emags.dm
  code/game/objects/items/rcd/RPLD.dm
  code/game/objects/items/theft_tools.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/modules/antagonists/monster_hunters/tools/blood_vial.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/hydroponics/hydroitemdefines.dm
  monkestation/code/game/objects/items/turf_demolisher.dm
  monkestation/code/modules/antagonists/clock_cult/structures/traps/trap.dm
  monkestation/code/modules/power/lighting/neon_lining.dm
Labels: Code: Fix

#8224 Airlock overlay fixes
  monkestation/code/modules/aesthetics/airlock/airlock.dm
  monkestation/code/modules/aesthetics/airlock/icons/airlocks/centcom/overlays.dmi
  monkestation/code/modules/aesthetics/airlock/icons/airlocks/external/overlays.dmi
  monkestation/code/modules/aesthetics/airlock/icons/airlocks/hatch/overlays.dmi
  monkestation/code/modules/aesthetics/airlock/icons/airlocks/highsec/overlays.dmi
  monkestation/code/modules/aesthetics/airlock/icons/airlocks/station/overlays.dmi
  monkestation/code/modules/aesthetics/airlock/icons/airlocks/station2/overlays.dmi
  monkestation/code/modules/aesthetics/airlock/icons/airlocks/vault/overlays.dmi
Labels: Code: Fix

#8190 Synthetic borring chem updates
  monkestation/code/modules/antagonists/borers/code/evolution/evolution_general.dm
Labels: Feature: Feature

#8127 Quirk that makes you get dangerously warm when sprinting and such
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/elements/climbable.dm
  code/datums/quirks/negative_quirks/running_hot.dm
  code/game/objects/structures/ladders.dm
  monkestation/code/datums/components/carbon_sprint.dm
  tgstation.dme
Labels: Feature: Feature

#8313 soulscythe fixes
  code/__DEFINES/hud.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/mobs.dm
  code/_globalvars/lists/mobs.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/hud/soulscythe.dm
  code/game/objects/items/soulscythe.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/basic/lavaland/bileworm/_bileworm.dm
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub.dm
  code/modules/mob/living/basic/lavaland/gutlunchers/gutlunchers.dm
  code/modules/mob/living/basic/lavaland/hivelord/hivelord.dm
  code/modules/mob/living/basic/lavaland/legion/legion.dm
  code/modules/mob/living/basic/lavaland/legion/legion_brood.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
  code/modules/mob/living/basic/lavaland/mining.dm
  code/modules/mob/living/basic/lavaland/mook/mook.dm
  code/modules/mob/living/basic/vermin/crab.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/clockwork_knight.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/legionnaire.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/pandora.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/polarbear.dm
  code/modules/mod/modules/modules_supply.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  monkestation/code/modules/cybernetics/augments/arm_augments/unsorted.dm
  tgstation.dme
Labels: Code: Fix, QoL, Code: Improvement

#8336 fix the "Show" button in the Requests Manager not working
  code/modules/requests/request_manager.dm
Labels: Code: Fix

#8355 mining bags now scoop up ores that get moved under you without you having to shuffle back and forth
  code/game/objects/items/storage/bags.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
Labels: QoL

#8212 the Mystic storyteller now actually prefers mystical antags
  code/__DEFINES/~monkestation/storytellers.dm
  code/modules/antagonists/pirate/pirate_event.dm
  code/modules/events/_event.dm
  monkestation/code/modules/assault_ops/code/midround_event.dm
  monkestation/code/modules/assault_ops/code/roundstart_event.dm
  monkestation/code/modules/storytellers/converted_events/event_overrides.dm
  monkestation/code/modules/storytellers/converted_events/solo/brother.dm
  monkestation/code/modules/storytellers/converted_events/solo/clown_operative.dm
  monkestation/code/modules/storytellers/converted_events/solo/commando_operative.dm
  monkestation/code/modules/storytellers/converted_events/solo/ghosts/nuclear_operative_ghost.dm
  monkestation/code/modules/storytellers/converted_events/solo/malf.dm
  monkestation/code/modules/storytellers/converted_events/solo/nuclear_operative.dm
  monkestation/code/modules/storytellers/converted_events/solo/obsessed.dm
  monkestation/code/modules/storytellers/converted_events/solo/revolutionary.dm
  monkestation/code/modules/storytellers/converted_events/solo/traitor.dm
  monkestation/code/modules/storytellers/storytellers/_storyteller.dm
  monkestation/code/modules/storytellers/storytellers/mystic.dm
  monkestation/code/modules/virology/disease/plague_rat/event.dm
Labels: Balance, Approval: admin approved, Antagonist

#8161 [PORT] Eye of God Update: Loads of QoL, and makes it somewhat more useful to have permanently grafted to your face.
  code/__DEFINES/status_effects.dm
  code/datums/mutations/touch.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity_trophy.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
Labels: Balance, QoL, Approval: admin approved, Code: Improvement

#8342 Fake macrobomb that actually revives you instead
  code/game/objects/items/implants/implant_explosive.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/uplink/uplink_items/nukeops.dm
Labels: what, Feature: Feature, Approval: admin approved

#8380 fix roundstart slime extract requestor pads sometimes not linking
  monkestation/code/modules/slimecore/machines/extract_requestor.dm
Labels: Code: Fix

#8370 Give roundstart / latejoin borgs their loadout hat
  code/modules/jobs/job_types/_job.dm
Labels: peak, Feature: Feature

#8345 make icons in the crafting menu not blurry
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
Labels: Code: Fix

#8338 cleans up some oshan-related code
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/logging.dm
  code/__HELPERS/logging/_logging.dm
  code/modules/logging/categories/log_category_monke.dm
  monkestation/code/modules/liquids/liquid_controller.dm
  monkestation/code/modules/ocean_content/hotspot/hotspot.dm
  monkestation/code/modules/ocean_content/hotspot/hotspot_controller.dm
  monkestation/code/modules/ocean_content/hotspot_machines/dousing_rod.dm
  monkestation/code/modules/ocean_content/hotspot_machines/hotspot_vents.dm
  monkestation/code/modules/ocean_content/hotspot_machines/stomper.dm
Labels: Code: Performance / Optimization, Code: Improvement

#8293 adds guns to debug outfit
  _maps/map_files/debug/runtimestation.dmm
  code/game/objects/items/gift.dm
  code/game/objects/items/storage/boxes/debug_boxes.dm
  code/game/objects/items/storage/boxes/engineering_boxes.dm
  code/modules/clothing/outfits/standard.dm
  icons/obj/storage/box.dmi
  tgstation.dme
Labels: Feature: Expansion, QoL, Approval: admin approved

#8452 Shotgun Wallstun Fix mk2
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Code: Fix

#8412 monster hunter abilities follow their mind if they switch bodies
  code/modules/antagonists/monster_hunters/hunter_datum.dm
  code/modules/antagonists/monster_hunters/monsters/monster_effects/white_rabbit.dm
Labels: Code: Fix

#8411 fix regen coma leaving people in a weird limbo between life and death
  code/modules/mob/living/status_procs.dm
Labels: Code: Fix

#8286 assorted dorkspawn tweaks/fixes
  code/datums/components/internal_cam.dm
  code/datums/quirks/negative_quirks/nyctophobia.dm
  code/modules/antagonists/darkspawn/darkspawn_antag.dm
  code/modules/antagonists/darkspawn/darkspawn_objects/darkspawn_chems.dm
  code/modules/antagonists/darkspawn/darkspawn_objects/thrall_tumor.dm
  code/modules/antagonists/darkspawn/darkspawn_objects/warlock_staff.dm
  code/modules/antagonists/darkspawn/shadowlands_component.dm
  code/modules/surgery/organ_manipulation.dm
Labels: Code: Fix, Balance, QoL, Code: Improvement, Antagonist

#7974 Injecting a Minute amount of guns into mechas
  code/__DEFINES/mecha.dm
  code/__DEFINES/projectiles.dm
  code/datums/components/crafting/makeshift_mechs.dm
  code/modules/cargo/packs/security.dm
  code/modules/projectiles/ammunition/caseless/rocket.dm
  code/modules/projectiles/boxes_magazines/external/grenade.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/projectile/bullets/_incendiary.dm
  code/modules/projectiles/projectile/bullets/sniper.dm
  code/modules/projectiles/projectile/special/rocket.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/techweb/mech_nodes.dm
  code/modules/vehicles/atv.dm
  code/modules/vehicles/mecha/combat/marauder.dm
  code/modules/vehicles/mecha/combat/trash_tank.dm
  code/modules/vehicles/mecha/equipment/tools/medical_tools.dm
  code/modules/vehicles/mecha/equipment/tools/mining_tools.dm
  code/modules/vehicles/mecha/equipment/weapons/mecha_ammo.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  code/modules/vehicles/mecha/working/locker_mech.dm
  code/modules/vehicles/mecha/working/makeshift_ambulance.dm
  code/modules/vehicles/mecha/working/makeshift_drill.dm
  code/modules/vehicles/pimpin_ride.dm
  code/modules/vehicles/secway.dm
  icons/mecha/mecha.dmi
  icons/mecha/mecha_ammo.dmi
  icons/mecha/mecha_equipment.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/weapons/guns/ammo.dmi
  icons/obj/weapons/guns/ballistic.dmi
  monkestation/code/game/mecha/makeshift/makeshift_ammo.dm
  monkestation/code/game/mecha/makeshift/makeshift_tools.dm
  monkestation/icons/mecha/makeshift_ammo.dmi
  monkestation/icons/mecha/makeshift_mechs.dmi
  tgstation.dme
Labels: Feature: enhancement, Feature: Feature, Approval: admin approved, DEP:science

#8420 Fixes mentor manager
  code/modules/requests/request_manager.dm
Labels: Code: Fix

#8301 Removes Ashtongue from normal lizards (and polyglots/silicons/etc), and Draconic from ashwalkers (however knowing one of them grants partial understanding of the other)
  code/modules/language/ashtongue.dm
  code/modules/language/draconic.dm
  code/modules/language/language_holder.dm
  code/modules/unit_tests/language_transfer.dm
  monkestation/code/modules/blueshift/items/armor/ash_walker.dm
  tgstation.dme
Labels: Removal, Feature: Feature, Approval: admin approved

#8496 Reduces cult visions range.
  monkestation/code/modules/virology/disease/symtoms/annoying/cult_syndrome.dm
Labels: Code: Improvement

#7913 [FEATURE] Vampire Rework Pt 1: Silver cuffs!
  code/__DEFINES/bloodsuckers.dm
  code/datums/components/crafting/misc.dm
  code/game/objects/items/handcuffs.dm
  code/modules/mob/living/carbon/carbon.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_datum.dm
  monkestation/code/modules/bloodsuckers/powers/_base_power.dm
  monkestation/code/modules/bloodsuckers/powers/masquerade.dm
  monkestation/code/modules/bloodsuckers/powers/targeted/brawn.dm
  monkestation/code/modules/bloodsuckers/powers/veil.dm
Labels: Feature: Feature, Antagonist

#8177 Dont worries guys I found a splint for the greys
  code/modules/antagonists/abductor/equipment/gear/abductor_items.dm
Labels: Feature: Feature, Balance, Antagonist

#8487 [PORT] Ports soup recipes reacting proportionally to spawn the right amount of items
  code/modules/food_and_drinks/recipes/soup_mixtures.dm
Labels: Code: Fix

#8405 Adds uploading an entire disk to a DNA console at once (and vice versa)
  code/datums/mutations/_mutations.dm
  code/game/machinery/computer/dna_console.dm
  code/game/machinery/dna_scanner.dm
  monkestation/code/game/machinery/computer/dna_console.dm
  tgstation.dme
Labels: QoL, Code: Improvement

#8507 actually fix polyglots and silicons having ashtongue
  code/modules/language/language_holder.dm
Labels: Code: Fix

#8482 [PORT] ore silo stuff and fixes
  code/_globalvars/lists/silo.dm
  code/_globalvars/silo.dm
  code/datums/components/material/material_container.dm
  code/datums/components/material/remote_materials.dm
  code/game/machinery/botlaunchpad.dm
  code/game/machinery/computer/orders/order_computer/order_computer.dm
  code/game/machinery/launch_pad.dm
  code/game/machinery/mechlaunchpad.dm
  code/game/machinery/teleporter.dm
  code/game/objects/items/devices/multitool.dm
  code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
  code/modules/atmospherics/machinery/components/unary_devices/bluespace_sender.dm
  code/modules/mining/machine_silo.dm
  code/modules/mining/machine_stacking.dm
  code/modules/research/machinery/_production.dm
  code/modules/research/server.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Fabrication/MaterialAccessBar.tsx
  tgui/packages/tgui/interfaces/OreSilo.tsx
Labels: Code: Fix, Code: Improvement, Process: should testmerge, Code: TGUI

#8490 crusher changes and qol (also change to style meter)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/parry.dm
  code/datums/components/style/style.dm
  code/datums/components/style/style_meter.dm
  code/datums/elements/crusher_loot.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/machinery/computer/orders/order_items/mining/order_crusher.dm
  code/game/objects/items/hand_items.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/equipment/kinetic_crusher/crusher_variants/claw.dm
  code/modules/mining/equipment/kinetic_crusher/crusher_variants/hammer.dm
  code/modules/mining/equipment/kinetic_crusher/crusher_variants/kinetic_crusher.dm
  code/modules/mining/equipment/kinetic_crusher/crusher_variants/knives.dm
  code/modules/mining/equipment/kinetic_crusher/crusher_variants/machete.dm
  code/modules/mining/equipment/kinetic_crusher/crusher_variants/pile_bunker.dm
  code/modules/mining/equipment/kinetic_crusher/crusher_variants/sickle.dm
  code/modules/mining/equipment/kinetic_crusher/crusher_variants/spear.dm
  code/modules/mining/equipment/kinetic_crusher/kinetic_crusher_trophies.dm
  code/modules/mining/equipment/kinetic_crusher/trophies_fauna.dm
  code/modules/mining/equipment/kinetic_crusher/trophies_megafauna.dm
  code/modules/mob/living/basic/lavaland/bileworm/bileworm_actions.dm
  code/modules/mob/living/basic/lavaland/bileworm/bileworm_loot.dm
  code/modules/mob/living/basic/lavaland/brimdemon/brimdemon_loot.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath_trophy.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity_trophy.dm
  code/modules/mob/living/basic/lavaland/watcher/watcher_projectiles.dm
  code/modules/mob/living/simple_animal/damage_procs.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/wendigo.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/legionnaire.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/energy/kinetic.dm
  tgstation.dme
Labels: Feature: Expansion, Code: Fix, Balance, QoL, Code: Improvement, DEP:cargo

#8219 The worms john, there in my walls. (Making Hivelords exist.)
  code/__DEFINES/DNA.dm
  code/__DEFINES/~monkestation/antagonists.dm
  code/_globalvars/bitfields.dm
  monkestation/code/modules/antagonists/borers/code/abilities/hide_presence.dm
  monkestation/code/modules/antagonists/borers/code/abilities/spawn_offspring.dm
  monkestation/code/modules/antagonists/borers/code/abilities/toggle_stealth.dm
  monkestation/code/modules/antagonists/borers/code/evolution/evolution_hivelord.dm
  monkestation/code/modules/antagonists/borers/code/items/imprisonment_cage.dm
  monkestation/code/modules/antagonists/borers/code/mobs/cortical_borer.dm
Labels: Code: Fix, Balance, Antagonist

#8389 Swedish Quirk
  code/datums/quirks/neutral_quirks/swedish.dm
  tgstation.dme
Labels: Feature: Feature

#8516 Fix godslayer armor resurrection not working if you have crit immunity
  code/modules/mining/equipment/explorer_gear.dm
Labels: Code: Fix

#8513 Disease, airborne, something something, no spread if your not able to be infected evenways.
  code/datums/diseases/_disease.dm
  monkestation/code/modules/virology/disease/premades/debug_disease.dm
  monkestation/code/modules/virology/living/infection_procs.dm
  monkestation/code/modules/virology/living/mouse.dm
Labels: Code: Fix, Balance

#8556 fix item dumping into disposals
  code/modules/recycling/disposal/bin.dm
Labels: Code: Fix

#8422 [PORT] Mob `attackedby` / `check_block` refactor, plus some minor cleanup of `attack_x` procs
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/_onclick/item_attack.dm
  code/_onclick/other_mobs.dm
  code/datums/actions/mobs/charge.dm
  code/datums/elements/damage_threshold.dm
  code/datums/martial/_martial.dm
  code/datums/martial/cqc.dm
  code/game/objects/items/melee/baton.dm
  code/game/objects/items/melee/curators_whip.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/robot/items/generic.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/antagonists/darkspawn/darkspawn_abilities/fighter_abilities.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/mob/living/basic/basic_defense.dm
  code/modules/mob/living/basic/blob_minions/blobbernaut.dm
  code/modules/mob/living/basic/clown/clown.dm
  code/modules/mob/living/basic/cult/constructs/juggernaut.dm
  code/modules/mob/living/basic/guardian/guardian_types/charger.dm
  code/modules/mob/living/basic/ruin_defender/skeleton.dm
  code/modules/mob/living/carbon/alien/adult/adult.dm
  code/modules/mob/living/carbon/alien/adult/caste/hunter.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species_types/golem/bananaium_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/bluespace_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/bronze_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/cardboard_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/uranium_golem.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/ai/ai_defense.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/mod/modules/modules_security.dm
  monkestation/code/modules/cybernetics/augments/arm_augments/unsorted.dm
  monkestation/code/modules/martial_arts/tribal_claw.dm
  monkestation/code/modules/martial_arts/tunnel_arts.dm
  tgstation.dme
Labels: Code: Fix, Code: Improvement, Process: should testmerge, Fixed Upstream

#8560 Adds a clipboard to NT Rep locker
  monkestation/code/game/objects/structures/crates_lockers/closets/secure/nanotrasen_rep.dm
Labels: Balance, DEP:command

#8585 [PORT] Locks Diagonal Movement to the Tick
  code/modules/mob/mob_movement.dm
Labels: Code: Fix

#8584 Fixes being unable to click on things or use things while in crit
  code/__DEFINES/status_effects.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
Labels: Code: Fix

#8563 bandaid fix for the tesla issue
  code/modules/power/tesla/energy_ball.dm
Labels: Code: Fix, Process: should testmerge

#8503 Burning items now emit smoke/pollution
  code/datums/components/burning.dm
  code/game/objects/structures/bonfire.dm
  monkestation/code/modules/pollution/generic_turf_pollutions.dm
Labels: Feature: Feature, QoL

#8508 Adds slight understanding between plantoid tongues
  code/modules/language/mushroom.dm
  code/modules/language/sylvan.dm
Labels: Feature: enhancement

#8167 New Traitor Item! Nutcracker Boots(TM)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/modules/clothing/shoes/boots.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/uplink/uplink_items/badass.dm
Labels: Feature: Feature, Approval: admin approved, Funny

#8613 fix tackles and bodythrows ignoring successful blocks
  code/datums/components/tackle.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Code: Fix

#8636 misc bug fixes. FIXES ITEM RESKINS
  code/datums/elements/climbable.dm
  code/game/objects/items_reskin.dm
  code/modules/cluwne/cluwne_brain.dm
  code/modules/cluwne/cluwne_clothing.dm
  code/modules/cluwne/cluwne_component.dm
  code/modules/food_and_drinks/machinery/smartfridge.dm
Labels: Code: Fix

#8564 Raise the priority of the projectiles subsystem
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/processing/projectiles.dm
Labels: Code: Performance / Optimization, Process: should testmerge

#8656 increases virus food reaction heat
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Code: Fix, DEP:medical, DEP:services

#8667 Soldier deathmatch loadout now has correct ammo
  code/modules/deathmatch/deathmatch_loadouts.dm
Labels: Code: Fix

#8647 Upgrading ripley no longer deletes manipulator
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: Code: Fix, DEP:science

#8654 [BOUNTY] Fixes Craig watering plants
  code/modules/mob/living/basic/jungle/seedling/seedling.dm
  monkestation/code/modules/botany/potty.dm
Labels: Code: Fix
