Repository Monkestation/Monkestation2.0, pull requests merged in 2025-05, with the labels that each got.

#6204 temporary mentor load from DB
  code/controllers/configuration/entries/monkestation.dm
  monkestation/code/modules/mentor/mentor_datum.dm
Labels: Process: do not merge, Process: testmerge only

#6538 fix reflections clipping out of mirrors
  code/datums/components/reflection.dm
Labels: Code: Fix

#6532 Forget how to breathe - pathology - the long awaited sequel
  code/modules/mob/living/carbon/life.dm
Labels: peak, Code: Fix

#6526 fix oozelings duping translation gloves and limbs on revival
  monkestation/code/modules/surgery/organs/internal/brain.dm
Labels: Code: Fix

#6529 fix runtimestation's gravgen running out of power
  _maps/map_files/debug/runtimestation.dmm
Labels: Change: Mapping, Code: Fix

#6535 Fix a runtime with clockwork slabs
  monkestation/code/modules/antagonists/clock_cult/scriptures/_scripture.dm
Labels: Code: Fix

#6521 Multiplicative AP, AP sabot nerf
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Balance, Approval: admin approved

#6502 Dna joker cooldown change
  code/game/machinery/computer/dna_console.dm
  code/game/machinery/dna_scanner.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
Labels: Balance, Approval: admin approved

#6453 Floran Speech Revert
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  monkestation/code/modules/client/preferences/species_features/floran.dm
Labels: Tweak, Approval: admin approved

#6543 Token events now properly displays the name of who triggered it
  code/modules/admin/topic.dm
  monkestation/code/datums/meta_tokens.dm
  monkestation/code/modules/twitch_bits/admin_command.dm
  monkestation/code/modules/twitch_bits/twitch_system.dm
Labels: Code: Fix

#6545 Fixes bloodsucker forget message, adds a short stun
  monkestation/code/modules/bloodsuckers/powers/feed.dm
Labels: Code: Fix, Balance

#6533 Fix bags having their slowdown reset when (un)equipped
  code/__DEFINES/traits/monkestation/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/movespeed/modifiers/items.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Code: Fix, Approval: admin approved

#6541 Fixes trying to create keybinds with spacebar
  tgui/packages/tgui/interfaces/KeyComboModal.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/KeybindingsPage.tsx
Labels: Code: Fix, Code: TGUI

#6452 Makes CentCom more visually consistent + slightly fancier (github died on me edition)
  _maps/map_files/generic/CentCom.dmm
Labels: Change: Mapping, Approval: admin approved

#6414 Changes Deep Storage to a syndicate blackbox - makes the self-destruct slightly less cheesable
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
Labels: Change: Mapping, Code: Fix, Balance, Approval: admin approved

#6057 Service cyborgs are now capable of cooking and doing botany
  code/_onclick/cyborg.dm
  code/datums/components/crafting/crafting.dm
  code/game/objects/items/rcd/RSF.dm
  code/modules/mob/living/basic/drone/_drone.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  monkestation/code/datums/components/crafting/borg_crafting.dm
  monkestation/code/game/objects/items/robot/items/borg_cooking.dm
  monkestation/icons/mob/silicon/robot_items.dmi
  monkestation/icons/obj/kitchen.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
Labels: Feature: Feature, QoL, Approval: admin approved

#6369 Jerma
  code/datums/mapgen/JungleGenerator.dm
  icons/turf/debug.dmi
Labels: Change: spriting, peak, Funny

#6470 Double Monkecoin from Challenges fix
  monkestation/code/modules/coin-events/challenges/challenge_controller.dm
Labels: Code: Fix, Process: should testmerge

#6553 fix the unused `edited_total_positions` compile warning
  code/modules/jobs/job_types/_job.dm
Labels: Code: Fix

#6523 Fix some odd edge-cases with head/face protection
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Code: Fix, Feature: Refactor/Rework

#6546 PDA arcade games are no longer louder than an actual arcade machine
  code/modules/modular_computers/file_system/programs/arcade.dm
Labels: QoL, Change: Sound

#6552 i gave the vampires in the basement a TV with family guy funny moments (more bloodsucker fixes/qol)
  code/__DEFINES/bloodsuckers.dm
  code/__DEFINES/language.dm
  code/modules/surgery/organs/internal/heart/_heart.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_datum.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_hud.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_life.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_objectives.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_sol.dm
  monkestation/code/modules/bloodsuckers/bloodsucker_assets.dm
  monkestation/code/modules/bloodsuckers/controllers/sunlight.dm
  monkestation/code/modules/bloodsuckers/powers/_base_power.dm
  monkestation/code/modules/bloodsuckers/powers/feed.dm
  monkestation/code/modules/bloodsuckers/powers/targeted/brawn.dm
  monkestation/code/modules/bloodsuckers/structures/bloodsucker_crypt.dm
  monkestation/code/modules/bloodsuckers/structures/bloodsucker_objects.dm
  monkestation/code/modules/bloodsuckers/vassals/vassal_datum.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/AntagInfoBloodsucker.tsx
  tgui/packages/tgui/interfaces/KindredBook.tsx
Labels: Code: Fix, QoL, Code: Improvement, Code: TGUI

#6494 Changeling 'Birth Teratoma' change
  code/modules/antagonists/changeling/changeling.dm
  monkestation/code/modules/antagonists/changeling/powers/teratomas.dm
Labels: Balance, Approval: admin approved

#6373 Syndicate Minigun
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/projectiles.dm
  code/datums/components/fullauto.dm
  code/modules/projectiles/ammunition/ballistic/lmg.dm
  code/modules/projectiles/boxes_magazines/external/lmg.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  icons/obj/weapons/guns/ammo.dmi
  icons/obj/weapons/guns/minigun.dmi
  monkestation/code/modules/projectiles/ammunition/ballistic/machine_guns.dm
  monkestation/code/modules/projectiles/projectile/bullets/machine_guns.dm
  monkestation/code/modules/uplink/uplink_items/nukeops.dm
  monkestation/sound/ambience/antag/minigun10burst.ogg
  sound/weapons/gun/minigun10burst.ogg
  sound/weapons/gun/minigunsingle.ogg
Labels: Funny

#6496 Insulated floor
  code/game/turfs/open/floor/plating.dm
  code/game/turfs/open/floor/reinforced_floor.dm
  monkestation/icons/turf/insulated_floor.dmi
Labels: Feature: Feature, Balance, Approval: admin approved

#6594 fixes the stupid pirate ship SMESes
  _maps/shuttles/pirate_ex_interdyne.dmm
  _maps/shuttles/pirate_grey.dmm
Labels: Change: Mapping, Code: Fix

#6595 fixes Plasma Fixation causing a lot of runtimes in mice
  monkestation/code/modules/virology/disease/symtoms/helpful/plasma_heal.dm
Labels: Code: Fix

#6599 Sanitize frequencies passed to `broadcast()` in NTSL
  monkestation/code/modules/NTSL/code/coding_language/implementations/telecomms_translator.dm
Labels: Code: Fix

#6589 Makeshift radio jammers!
  code/datums/components/crafting/tools.dm
  code/game/objects/items/devices/traitordevices.dm
  code/modules/uplink/uplink_items/stealthy_tools.dm
Labels: Code: Fix, Feature: Feature, Balance, Approval: admin approved

#6625 fix byond-tracy not actually setting `trace_path`
  code/modules/debugging/tracy.dm
Labels: Code: Fix

#6618 Thrown eggs will now break
  code/game/objects/items/food/egg.dm
Labels: Code: Fix

#6649 Add user agent string to BYOND download requests
  Dockerfile
  tools/ci/download_byond.sh
  tools/ci/install_byond.sh
Labels: Tools, Code: Fix

#6622 Possibly fixes false wall smoothing?
  code/game/objects/structures/false_walls.dm
Labels: Code: Fix

#6631 [PORT] Stabilizes code that flicks overlays to view/all clients
  code/__HELPERS/game.dm
  code/controllers/subsystem/wardrobe.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/scan_gate.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
  code/game/turfs/closed/minerals.dm
  code/modules/antagonists/heretic/magic/fire_blast.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mob/living/living_defense.dm
  code/modules/reagents/reagent_containers.dm
  icons/turf/smoothrocks.dmi
Labels: Code: Performance / Optimization

#6659 Cortical Borer Egg fixes
  monkestation/code/modules/antagonists/borers/code/abilities/spawn_offspring.dm
Labels: Code: Fix

#6661 'They seem unresponsive' Fix
  monkestation/code/modules/flavor_text/flavor_examine.dm
Labels: Code: Fix

#6668 Removes CID randomizer check, removes a sleep in client/New
  code/controllers/configuration/entries/general.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences/auto_fit_viewport.dm
  code/modules/client/verbs/ooc.dm
  config/config.txt
Labels: Removal, Code: Performance / Optimization, Approval: admin approved

#6651 fix some runtimes related to slime friendship
  monkestation/code/modules/slimecore/components/friendship_tracker.dm
Labels: Code: Fix

#6454 PDA Alert level
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/security_levels/security_level_datums.dm
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/NtosMain.jsx
  tgui/packages/tgui/styles/colors.scss
  tgui/packages/tgui/styles/layouts/NtosHeader.scss
Labels: Feature: enhancement, QoL, Code: TGUI

#6664 [PORT] Big Slappy | Giant Weapon DLC
  code/datums/components/crafting/guncrafting.dm
  code/datums/components/crafting/melee_weapon.dm
  code/modules/cargo/markets/market_items/misc.dm
  code/modules/cargo/packs/imports.dm
  code/modules/mining/equipment/mining_tools.dm
  icons/mob/inhands/64x64_lefthand.dmi
  icons/mob/inhands/64x64_righthand.dmi
  icons/obj/weapons/giant_wrench.dmi
  icons/obj/weapons/improvised.dmi
Labels: Feature: Feature, Approval: admin approved

#6663 Nosferatu bloodsucker stuff
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_life.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_misc_procs.dm
  monkestation/code/modules/bloodsuckers/clans/_clan_base.dm
  monkestation/code/modules/bloodsuckers/clans/nosferatu.dm
Labels: Code: Fix, Balance, Approval: admin approved

#6577 Blueshift MedSec outpost access, tramstation pipes, and roundstart turfs
  _maps/RandomRuins/SpaceRuins/turretedoutpost.dmm
  _maps/map_files/Blueshift/Blueshift.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/~monkestation/RandomBars/Tram/tram_bar_cult.dmm
  _maps/~monkestation/RandomBars/Tram/tram_bar_ocean.dmm
Labels: Change: Mapping

#6580 Oldstation Updates
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  code/__DEFINES/access.dm
  code/controllers/subsystem/id_access.dm
  code/datums/id_trim/ruins.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/computer/camera.dm
  code/game/objects/items/cards/card_ids.dm
  code/game/objects/items/cards_ids.dm
  monkestation/code/datums/id_trim/ruins.dm
  monkestation/code/modules/oldstation_idconsole/oldstation_idconsole.dm
Labels: Change: Mapping, Code: Fix

#6670 Golem file to golem folder
  code/modules/mob/living/carbon/human/species_types/golem/_golems.dm
  code/modules/mob/living/carbon/human/species_types/golem/adamantine_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/alloy_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/bananaium_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/bluespace_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/bone_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/bronze_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/cardboard_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/cloth_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/diamond_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/durathread_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/glass_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/gold_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/leather_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/metallic_hydrogen_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/plasma_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/plasteel_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/plastic_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/plastitanium_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/runic_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/sand_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/silver_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/snow_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/titanium_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/uranium_golem.dm
  code/modules/mob/living/carbon/human/species_types/golem/wood_golem.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  tgstation.dme
Labels: Code: Improvement

#6681 clean up some unusual code (also broom fix)
  code/modules/vehicles/magicbroom.dm
  monkestation/code/modules/trading/unusual_effects/_unusual_component.dm
Labels: Code: Fix, Code: Improvement

#6680 Fix the loadout briefcase option spawning an extra unusual
  monkestation/code/modules/loadouts/loadout_outfit_helper.dm
Labels: Code: Fix, Approval: admin approved

#6676 Use `sleep(world.tick_lag)` instead of `stoplag()` in `UNTIL` and `UNTIL_WHILE_EXISTS`
  code/__DEFINES/_helpers.dm
  code/__DEFINES/~monkestation/_helpers.dm
Labels: Code: Performance / Optimization

#6666 Mapping fixes so we dont reach 1k issues
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_inevitable.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_unlikely.dmm
  _maps/map_files/Blueshift/Blueshift.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/LeadPoisoningStation/LeadPoisoningStation.dmm
  _maps/map_files/Theseus/Theseus.dmm
  code/game/objects/structures/beds_chairs/bed.dm
Labels: Change: Mapping, Code: Fix

#6635 Mouse Cube Spawns Capped + New Animal Cube Animation
  code/game/objects/items/food/monkeycube.dm
  code/modules/mob/living/basic/vermin/mouse.dm
  code/modules/mob/living/carbon/human/monkey/monkey.dm
Labels: Code: Fix, Approval: admin approved

#6682 beepsky no longer profiles cosplayers
  code/modules/mob/living/carbon/human/human.dm
Labels: Removal, Approval: admin approved

#6698 Fix the middle xenobio pens on Box being linked to the wrong ooze suckers
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Change: Mapping, Code: Fix

#6591 Make stack merging much less of a potential lagfest
  code/__byond_version_compat.dm
  code/game/objects/items/stacks/stack.dm
Labels: Feature: Refactor/Rework, Code: Performance / Optimization, Process: should testmerge

#6705 Loafers can no longer create singularities unless emagged
  monkestation/code/modules/loafing/code/loafer.dm
Labels: Balance, Approval: admin approved, Code: Improvement

#6690 NTSL compile errors and save changes
  monkestation/code/modules/NTSL/code/filter.dm
  monkestation/code/modules/NTSL/code/machinery/server.dm
  monkestation/code/modules/NTSL/code/machinery/traffic_control.dm
Labels: Code: Fix, QoL

#6620 Medsci Outfit Resprite/Clean-up
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  code/_globalvars/phobias.dm
  code/game/objects/items/storage/garment.dm
  code/modules/antagonists/pirate/pirate_outfits.dm
  code/modules/cargo/packs/medical.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/jobs/medical.dm
  code/modules/clothing/under/jobs/rnd.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/mob_spawn/ghost_roles/space_roles.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_bloodbrother.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_moth.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_moth_tundra.png
  code/modules/vending/autodrobe.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/back/backpack.dmi
  icons/mob/clothing/suits/labcoat.dmi
  icons/mob/clothing/suits/labcoat_digi.dmi
  icons/mob/clothing/under/medical.dmi
  icons/mob/clothing/under/medical_digi.dmi
  icons/mob/clothing/under/rnd.dmi
  icons/mob/clothing/under/rnd_digi.dmi
  icons/obj/clothing/suits/labcoat.dmi
  icons/obj/clothing/under/medical.dmi
  icons/obj/clothing/under/rnd.dmi
  icons/obj/storage/backpack.dmi
  monkestation/code/modules/blueshift/clothing/nova_medical.dm
  monkestation/code/modules/blueshift/clothing/nova_science.dm
  monkestation/code/modules/blueshift/clothing/nova_syndicate.dm
  monkestation/code/modules/blueshift/icons/mob/clothing/suits/labcoat.dmi
  monkestation/code/modules/blueshift/icons/mob/clothing/suits/labcoat_digi.dmi
  monkestation/code/modules/blueshift/icons/mob/clothing/under/medical.dmi
  monkestation/code/modules/blueshift/icons/mob/clothing/under/medical_digi.dmi
  monkestation/code/modules/blueshift/icons/mob/clothing/under/rnd.dmi
  monkestation/code/modules/blueshift/icons/mob/clothing/under/rnd_digi.dmi
  monkestation/code/modules/blueshift/icons/obj/clothing/suits/labcoat.dmi
  monkestation/code/modules/blueshift/icons/obj/clothing/under/medical.dmi
  monkestation/code/modules/blueshift/icons/obj/clothing/under/rnd.dmi
  monkestation/code/modules/blueshift/machines/access_vending.dm
  monkestation/code/modules/blueshift/machines/vending_additions.dm
  monkestation/code/modules/clothing/suits/coats.dm
  monkestation/code/modules/clothing/under/jobs/xenobiologist.dm
  monkestation/code/modules/loadouts/items/under/under.dm
  tgstation.dme
Labels: Change: spriting, Severity: Major, Process: testmerge only, QoL, Approval: admin approved, Code: Improvement

#6588 Give plasmamen the Ability to have nanites again
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Balance

#6544 Atmos binary device improvements
  code/__DEFINES/atmospherics/atmos_piping.dm
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/pressure_valve.dm
  code/modules/atmospherics/machinery/components/binary_devices/temperature_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/temperature_pump.dm
  icons/obj/atmospherics/components/binary_devices.dmi
  tgui/packages/tgui/interfaces/AtmosPump.tsx
  tgui/packages/tgui/interfaces/AtmosTempGate.tsx
  tgui/packages/tgui/interfaces/AtmosTempPump.tsx
Labels: Balance, QoL, Approval: admin approved, Process: should testmerge

#6449 Removes TWitch bullet immunity; gives TWitch a reasonable recipe.
  monkestation/code/modules/blueshift/opfor/equipment/medical.dm
  monkestation/code/modules/blueshift/reagents/deforest.dm
Labels: Balance, Approval: admin approved

#6727 Updates all our github actions to /tg/ master
  .github/workflows/auto_changelog.yml
  .github/workflows/ci_suite.yml
  .github/workflows/collect_data.yml
  .github/workflows/compare_screenshots.yml
  .github/workflows/compile_all_maps.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/conflicts.yml
  .github/workflows/discord_discussions.yml.unused
  .github/workflows/discord_pr_announce.yml.unused
  .github/workflows/docker_publish.yml
  .github/workflows/gbp.yml.unused
  .github/workflows/gbp_collect.yml.unused
  .github/workflows/generate_documentation.yml
  .github/workflows/perform_alternate_version_tests.yml
  .github/workflows/perform_regular_version_tests.yml
  .github/workflows/pr_emoji.yml
  .github/workflows/remove_guide_comments.yml
  .github/workflows/rerun_flaky_tests.yml
  .github/workflows/round_id_linker.yml.unused
  .github/workflows/run_integration_tests.yml
  .github/workflows/run_linters.yml
  .github/workflows/setup_build_artifact.yml
  .github/workflows/setup_build_artifacts.yml
  .github/workflows/show_screenshot_test_results.yml
  .github/workflows/stale.yml
  .github/workflows/test_merge_bot.yml.unused
  .github/workflows/test_windows.yml
  .github/workflows/tgs_test.yml
  .github/workflows/update_tgs_dmapi.yml
  _maps/RandomRuins/SpaceRuins/anomaly_research.dmm
  _maps/RandomRuins/SpaceRuins/russian_derelict.dmm
  _maps/ouroboros.json
  code/modules/power/lighting/light.dm
  code/modules/unit_tests/smes_connections.dm
  tools/bootstrap/node.bat
  tools/bootstrap/node_.ps1
  tools/ci/annotate_dm.sh
  tools/ci/ci_config.txt
  tools/ci/copy_build_output.sh
  tools/ci/od_lints.dm
  tools/ci/run_server.sh
  tools/dm_annotator/__main__.py
Labels: Tools, Change: Mapping, Code: Fix

#6654 Implements `ma2html` (goodbye `icon2html`)
  code/__DEFINES/is_helpers.dm
  code/__HELPERS/icons.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem/polling.dm
  code/game/atoms.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/mob.dm
Labels: Code: Performance / Optimization, Process: should testmerge

#6655 ice box oldstation
  _maps/RandomRuins/IceRuins/icemoon_underground_oldstation.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  code/datums/id_trim/ruins.dm
  code/datums/ruins/icemoon.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/game/objects/items/cards_ids.dm
  code/modules/mapfluff/ruins/icemoonruin_code/oldstation.dm
  code/modules/research/machinery/_production.dm
  code/modules/research/machinery/circuit_imprinter.dm
  code/modules/research/machinery/protolathe.dm
  config/iceruinblacklist.txt
  tgstation.dme
Labels: peak, Change: Mapping, Feature: Feature, Approval: admin approved

#6687 Ports descriptions and Halon gas effect/recipe from TG
  code/__DEFINES/reactions.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
  code/modules/atmospherics/gasmixtures/reaction_factors.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/atmospherics/machinery/components/electrolyzer/electrolyzer_reactions.dm
Labels: Balance, Approval: admin approved

#6716 fix some various minor runtimes
  code/datums/outfit.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/structures/tables_racks.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  code/modules/language/language_holder.dm
  code/modules/mafia/roles/roles.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/power/lighting/light.dm
  code/modules/projectiles/gun.dm
  code/modules/surgery/organs/external/wings/functional_wings.dm
  monkestation/code/game/objects/items/translator.dm
  monkestation/code/modules/blood_datum/vital_monitor/operating_table_additions.dm
  monkestation/code/modules/blood_for_the_blood_gods/slasher/slasher_datum.dm
  monkestation/code/modules/bloodsuckers/structures/bloodsucker_crypt.dm
  monkestation/code/modules/ghost_players/centcom_grace.dm
Labels: Code: Fix, Code: Improvement

#6566 Satyr "Living Drunk" Touchups
  monkestation/code/modules/ranching/satyr/components/living_drunk.dm
Labels: Balance, QoL, Approval: admin approved

#6375 Scrap Vehicles 1.5
  code/__DEFINES/exosuit_fab.dm
  code/__DEFINES/mecha.dm
  code/modules/projectiles/projectile/bullets/lmg.dm
  code/modules/projectiles/projectile/special/rocket.dm
  code/modules/uplink/uplink_items/ammunition.dm
  code/modules/uplink/uplink_items/dangerous.dm
  code/modules/uplink/uplink_items/nukeops.dm
  code/modules/vehicles/mecha/combat/devitt.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  code/modules/vehicles/mecha/mecha_wreckage.dm
  icons/mecha/mecha_equipment.dmi
  icons/obj/weapons/guns/projectiles.dmi
  monkestation/code/datums/components/crafting/makeshift_mechs.dm
  monkestation/code/game/mecha/makeshift/makeshift_ammo.dm
  monkestation/code/game/mecha/makeshift/makeshift_drill.dm
  monkestation/code/game/mecha/makeshift/makeshift_tools.dm
  monkestation/code/modules/antagonists/brother/gear/misc.dm
  monkestation/icons/mecha/makeshift_ammo.dmi
  monkestation/icons/mecha/makeshift_mechs.dmi
  monkestation/icons/mecha/tanks.dmi
  sound/vehicles/driving-noise.ogg
  sound/weapons/gun/general/lighttankgun.ogg
  tgstation.dme
Labels: Feature: enhancement, Approval: admin approved, Process: should testmerge

#6712 Makes teratomas less annoying
  monkestation/code/modules/surgery/bodyparts/teratoma_bodyparts.dm
Labels: Balance, Approval: admin approved

#6732 May Moody Fixes
  code/modules/mining/fulton.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/organs/internal/heart/_heart.dm
  monkestation/code/modules/botany/components/plant_growing.dm
  monkestation/code/modules/surgery/organs/internal/brain.dm
  monkestation/code/modules/surgery/organs/internal/heart.dm
Labels: Code: Fix, Balance

#6737 Remove memory stat logging after every single subsystem init
  monkestation/code/controllers/master.dm
  tgstation.dme
Labels: Removal, Code: Performance / Optimization

#6713 Removes the pizza-bombs from the NTSS Shadow
  _maps/shuttles/emergency_shadow.dmm
Labels: Change: Mapping

#6741 Prevent dummies from becoming hearing-sensitive
  code/modules/hallucination/fake_chat.dm
  code/modules/mob/living/carbon/human/dummy.dm
Labels: Code: Performance / Optimization

#6750 Charlie/Delta Station on icebox are no longer considered station areas
  code/controllers/subsystem/mapping.dm
Labels: Code: Fix

#6749 Kicks now properly do 50% more damage
  code/modules/mob/living/carbon/human/_species.dm
Labels: Code: Fix, Approval: admin approved

#6743 Fixes old DNA data disks not rolling species-specific mutations
  monkestation/code/game/machinery/dna_scanner.dm
Labels: Code: Fix

#6739 Monster Hunter objectives now properly update when their target chooses a clan/path
  code/__DEFINES/bloodsuckers.dm
  code/__DEFINES/dcs/signals/signals_heretic.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/monster_hunters/hunter_datum.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_frenzy.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_life.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_misc_procs.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_sol.dm
  monkestation/code/modules/bloodsuckers/clans/_clan_base.dm
  monkestation/code/modules/bloodsuckers/clans/malkavian.dm
  monkestation/code/modules/bloodsuckers/structures/bloodsucker_crypt.dm
  monkestation/code/modules/bloodsuckers/vassals/types/favorite.dm
  monkestation/code/modules/bloodsuckers/vassals/types/revenge.dm
Labels: Code: Fix, Code: Improvement

#6730 Refactors roundend reward stuff to hopefully prevent EORG from ruining challenge rewards
  code/__HELPERS/roundend.dm
  code/__HELPERS/~monkestation-helpers/roundend.dm
Labels: Code: Fix, Feature: Refactor/Rework, Process: should testmerge

#6755 reorganize some Plexora TGS shutdown notification stuff
  code/game/world.dm
  code/modules/admin/verbs/server.dm
  code/modules/error_handler/error_handler.dm
  code/modules/tgs/core/core.dm
  monkestation/code/controllers/subsystem/plexora.dm
Labels: Feature: Refactor/Rework, Code: Improvement

#6774 Stop revolutionary raptors from deleting people from existence
  monkestation/code/modules/ranching/chickens/tier3/rev_raptor.dm
Labels: what, Code: Fix, Funny

#6766 Refactors the Heavy Bleeder challenge
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/init_signals.dm
Labels: Code: Fix, Feature: Refactor/Rework

#6784 fix runtime spam with autocloners
  monkestation/code/game/machinery/computer/cloning.dm
Labels: Code: Fix

#6764 Slime Link QoL touchups
  code/datums/components/mind_linker.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Labels: QoL

#6758 food + wound HUD overhaul
  code/__DEFINES/alerts.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/__DEFINES/hud.dm
  code/__DEFINES/living.dm
  code/__DEFINES/mobs.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/components/food/edible.dm
  code/datums/elements/food/foodlike_drink.dm
  code/datums/mood.dm
  code/datums/mood_events/needs_events.dm
  code/datums/status_effects/wound_effects.dm
  code/datums/wounds/_wounds.dm
  code/modules/antagonists/nightmare/nightmare_species.dm
  code/modules/hallucination/fake_alert.dm
  code/modules/hallucination/screwy_health_doll.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/init_signals.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/surgery/organs/stomach/_stomach.dm
  icons/hud/screen_alert.dmi
  icons/hud/screen_gen.dmi
  monkestation/code/modules/antagonists/borers/code/focus_datum.dm
  monkestation/code/modules/ghost_players/centcom_grace.dm
  monkestation/code/modules/mob/living/carbon/human/init_signals.dm
  monkestation/code/modules/mob/living/carbon/human/species_type/ethereal.dm
  monkestation/code/modules/mob/living/init_signals.dm
  monkestation/code/modules/mob/living/living.dm
Labels: Removal, Code: Fix, Feature: Refactor/Rework, QoL, Process: should testmerge

#6738 Radio jammers now jam suit sensors
  monkestation/code/game/machinery/computer/crew.dm
Labels: Balance, Approval: admin approved, Process: should testmerge

#6761 UwUification capitalization
  code/__HELPERS/~monkestation-helpers/uwuify.dm
Labels: Code: Fix

#6778 Seed Meshes can no longer yield gatfruit or evil seedlings
  monkestation/code/modules/blueshift/items/ash_walker.dm
Labels: Balance, Approval: admin approved

#6789 Fix a runtime with the Anti-Glow gene
  code/datums/mutations/body.dm
Labels: Code: Fix

#6790 Removes the Windows Build CI
  .github/guides/CI.md
  .github/workflows/ci_suite.yml
  .github/workflows/test_windows.yml
Labels: Code: Fix

#6791 Removing Slimepeople eyes
  monkestation/code/modules/surgery/organs/internal/eyes.dm
Labels: Code: Improvement

#6796 Ports tg's improved heretic blade sprites
  code/modules/antagonists/heretic/knife_effect.dm
  code/modules/antagonists/heretic/magic/furious_steel.dm
  icons/effects/eldritch.dmi
  icons/mob/actions/actions_ecult.dmi
  icons/mob/inhands/64x64_lefthand.dmi
  icons/mob/inhands/64x64_righthand.dmi
  icons/obj/eldritch.dmi
Labels: Change: spriting, Approval: admin approved

#6780 Reduces tgui load time by removing the icon ref map
  code/datums/components/uplink.dm
  code/datums/elements/strippable.dm
  code/game/machinery/computer/orders/order_computer/order_computer.dm
  code/game/objects/structures/ore_containers.dm
  code/modules/antagonists/malf_ai/malf_ai.dm
  code/modules/antagonists/monster_hunters/hunter_datum.dm
  code/modules/asset_cache/assets/icon_ref_map.dm
  code/modules/asset_cache/assets/uplink.dm
  code/modules/hydroponics/seed_extractor.dm
  code/modules/mining/machine_redemption.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/tgui/tgui.dm
  code/modules/vending/_vending.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_datum.dm
  monkestation/code/modules/blueshift/components/armament.dm
  monkestation/code/modules/hydroponics/botanical_lexicon.dm
  monkestation/code/modules/store/pre_round/_pre_round_store.dm
  monkestation/code/modules/store/store_items/__store.dm
  tgstation.dme
  tgui/packages/tgui/components/DmIcon.tsx
  tgui/packages/tgui/icons.ts
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/interfaces/StripMenu.tsx
Labels: Code: Performance / Optimization, Process: should testmerge, Code: TGUI

#6811 Holofans can project on doors
  code/game/objects/items/holosign_creator.dm
Labels: QoL, Approval: admin approved

#6648 Blocks Explorer from Planetary Maps + Mining Order Console Additions
  code/__DEFINES/jobs.dm
  code/controllers/subsystem/job.dm
  code/game/machinery/computer/orders/order_items/mining/order_consumables.dm
  code/game/machinery/computer/orders/order_items/mining/order_mining.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/dead/new_player/new_player.dm
  monkestation/code/modules/jobs/job_types/explorer.dm
Labels: Feature: enhancement, Balance, Approval: admin approved

#6770 Plague rats healing
  code/modules/mob/living/basic/vermin/mouse.dm
  monkestation/code/modules/virology/disease/plague_rat/antagonist.dm
  monkestation/code/modules/virology/disease/plague_rat/plague_rat.dm
Labels: Balance

#6823 Firelocks now skip checking uninitialized turfs
  code/game/machinery/doors/firedoor.dm
Labels: Code: Fix

#6810 The storm from void ascension and the void chill debuff both now respect antimagic.
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/antagonists/heretic/status_effects/void_chill.dm
Labels: Code: Fix

#6826 Fix some stacked atmos pipes
  _maps/RandomRuins/SpaceRuins/abandonedunknownsite1.dmm
  _maps/~monkestation/RandomBars/Icebox/Drunkopsbar.dmm
  _maps/~monkestation/RandomBars/Icebox/Magbar.dmm
  _maps/~monkestation/RandomBars/Tram/tram_bar_cult.dmm
Labels: Change: Mapping, Code: Fix

#6819 Add liquid barriers to Pubby xenobio
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Change: Mapping

#6714 Slasher antag tweaks
  monkestation/code/modules/blood_for_the_blood_gods/slasher/abilities/envelope_darkness.dm
Labels: Balance

#6704 Alert Level Stuff
  code/__HELPERS/priority_announce.dm
  code/_globalvars/lists/flavor_misc.dm
  code/datums/looping_sounds/machinery_sounds.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/status_display.dm
  code/modules/modular_computers/file_system/programs/statusdisplay.dm
  code/modules/power/lighting/light.dm
  code/modules/security_levels/security_level_datums.dm
  icons/obj/firealarm.dmi
  icons/obj/machines/status_display.dmi
  sound/machines/delta_alarm.ogg
Labels: Change: spriting, Code: Fix, QoL, Approval: admin approved

#6718 gives space hotel more ingredients and actual parts to build hydroponics
  _maps/RandomRuins/SpaceRuins/spacerealhotel.dmm
Labels: Change: Mapping, QoL, Approval: admin approved

#6768 Giving drones Faction Slime
  code/modules/mob/living/basic/drone/_drone.dm
Labels: Code: Fix

#6841 Disable some unneeded debug logs during production
  code/_compile_options.dm
  code/controllers/subsystem/tgui.dm
  code/modules/tgui/external.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui/tgui_window.dm
Labels: Code: Performance / Optimization

#6849 Fix the `webmap_url` config being an invalid type
  code/controllers/configuration/entries/general.dm
  code/modules/escape_menu/home_page.dm
Labels: Code: Fix

#6839 Reduces the range of some higher pitched emote sounds
  code/datums/emotes.dm
  monkestation/code/modules/emotes/code/emote.dm
  monkestation/code/modules/mob/living/basic/space_fauna/slugcat/slugcat.dm
Labels: QoL, Approval: awaiting admin review, Approval: admin approved, Change: Sound

#6812 [Bounty] Oozeling ability to retract limb
  monkestation/code/modules/smithing/icons/actions_slime.dmi
  monkestation/code/modules/smithing/oozelings/actions.dm
  monkestation/code/modules/surgery/organs/internal/heart.dm
Labels: Feature: Feature, Approval: admin approved

#6807 Areas splicing [Port]
  code/game/area/areas/station.dm
  code/game/area/areas/station/cargo.dm
  code/game/area/areas/station/command.dm
  code/game/area/areas/station/common.dm
  code/game/area/areas/station/engineering.dm
  code/game/area/areas/station/hallway.dm
  code/game/area/areas/station/maintenance.dm
  code/game/area/areas/station/medical.dm
  code/game/area/areas/station/misc.dm
  code/game/area/areas/station/science.dm
  code/game/area/areas/station/security.dm
  code/game/area/areas/station/service.dm
  code/game/area/areas/station/solars.dm
  code/game/area/areas/station/telecomm.dm
  code/game/area/space_station_13_areas.dm
  monkestation/code/area/areas/station.dm
  monkestation/code/area/areas/station/cargo.dm
  monkestation/code/area/areas/station/engineering.dm
  monkestation/code/area/areas/station/maintenance.dm
  monkestation/code/area/areas/station/medical.dm
  monkestation/code/area/areas/station/science.dm
  monkestation/code/area/areas/station/security.dm
  monkestation/code/datums/weather/weather_types/radiation_storm.dm
  tgstation.dme
Labels: Approval: admin approved, Process: should testmerge

#6767 Making more antagonists tokenable
  code/modules/admin/verbs/secrets.dm
  code/modules/antagonists/abductor/abductor.dm
  code/modules/antagonists/nightmare/nightmare.dm
  code/modules/events/ghost_role/nightmare.dm
  config/monkestation/antag-tokens.toml
  monkestation/code/modules/antagonists/contractor/datums/contractor_datum.dm
  monkestation/code/modules/antagonists/obsessed/obsessed.dm
  monkestation/code/modules/blood_for_the_blood_gods/slasher/slasher_datum.dm
Labels: Feature: Expansion, Code: Fix, Approval: admin approved

#6759 Birth Teratoma compensation
  monkestation/code/modules/antagonists/changeling/powers/teratomas.dm
Labels: Balance, Approval: admin approved

#6567 Remove chaplain role lock from ratvar plushie.
  monkestation/code/modules/loadouts/items/plushies.dm
Labels: Balance, Approval: admin approved

#6562 Adds the ability for an AI to remotely charge an APC with an upgrade disk #86470
  code/__DEFINES/is_helpers.dm
  code/game/objects/items/robot/ai_upgrades.dm
  code/modules/antagonists/malf_ai/malf_ai.dm
  code/modules/antagonists/malf_ai/malf_ai_module_picker.dm
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/ai_actions/remote_power.dm
  code/modules/research/designs/electronics_designs.dm
  code/modules/research/techweb/robo_nodes.dm
  monkestation/code/modules/antagonists/malf_ai/infected_ipc.dm
  tgstation.dme
Labels: Feature: Feature, Approval: awaiting admin review, Code: Improvement
