Repository Monkestation/Monkestation2.0, pull requests merged in 2025-04, with the labels that each got.

#6161 Adds tram console subtype with icon for 2 destinations
  icons/obj/computer.dmi
  monkestation/code/modules/industrial_lift/tram/tram_machinery.dm
  monkestation/icons/obj/computer.dmi
  tgstation.dme
Labels: Change: spriting

#6158 Small holiday checks
  code/modules/jobs/job_types/prisoner.dm
  monkestation/code/modules/factory_type_beat/mobs/node_drone.dm
Labels: Feature: enhancement

#6195 fix a window on top of a windoor in the icebox library
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Change: Mapping, Code: Fix

#6187 Centcom Admiral clothes for Abraxis
  monkestation/code/modules/clothing/gloves/gloves.dm
  monkestation/code/modules/clothing/head/hat.dm
  monkestation/code/modules/clothing/outfits/standard.dm
  monkestation/code/modules/clothing/shoes/boots.dm
  monkestation/code/modules/clothing/suits/armor.dm
  monkestation/code/modules/clothing/under/jobs/centcom.dm
  monkestation/code/modules/loadouts/items/admin.dm
  monkestation/icons/mob/clothing/feet.dmi
  monkestation/icons/mob/clothing/gloves.dmi
  monkestation/icons/mob/clothing/head.dmi
  monkestation/icons/mob/clothing/suit.dmi
  monkestation/icons/mob/clothing/uniform.dmi
  monkestation/icons/obj/clothing/gloves.dmi
  monkestation/icons/obj/clothing/hats.dmi
  monkestation/icons/obj/clothing/shoes.dmi
  monkestation/icons/obj/clothing/suits.dmi
  monkestation/icons/obj/clothing/uniforms.dmi
  tgstation.dme
Labels: Approval: admin approved

#6040 Medical Borg Tool upgrade (More compact)
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/research/techweb/cyborg_nodes.dm
  code/modules/surgery/surgery_step.dm
  code/modules/surgery/tools.dm
  monkestation/code/game/objects/items/robot/items/robot_upgrades.dm
  monkestation/code/modules/research/designs/mechfabricator_designs.dm
Labels: Feature: Feature, Balance, Approval: admin approved

#6042 Surgery rooms, tram, and cassettes
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Change: Mapping, Approval: admin approved

#5816 Removes stolen CC clothes from reps closet
  monkestation/code/game/objects/structures/crates_lockers/closets/secure/nanotrasen_rep.dm
  monkestation/code/modules/NTrep/clothing/NTrep_clothing.dm
  monkestation/code/modules/blueshift/structures/locker.dm
Labels: Removal, Approval: admin approved

#5978 Martial arts properly dodge/counter Kindle
  monkestation/code/modules/antagonists/clock_cult/scriptures/servitude/kindle.dm
Labels: Code: Fix, Balance, Approval: admin approved

#5899 Remove the TEG and SM-TEG from the random engine rotation on Box Station
  monkestation/code/modules/random_rooms/engines/boxstation.dm
Labels: Change: Mapping, Approval: admin approved

#6154 Adds the "Unborgable" quirk
  code/__DEFINES/traits/monkestation/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/game/machinery/transformer.dm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/living.dm
  monkestation/code/datums/quirks/neutral_quirks/unborgable.dm
  monkestation/code/modules/antagonists/clock_cult/structures/sigil/sigil_vitality.dm
  monkestation/code/modules/mob/living/silicon/robot/robot.dm
  tgstation.dme
Labels: Feature: Feature, Approval: admin approved

#6178 Revenant blight tweaks + fixes
  code/__DEFINES/traits/monkestation/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_harvest.dm
  monkestation/code/modules/mob/living/basic/space_fauna/revenant/revenant_abilities.dm
  monkestation/code/modules/mob/living/basic/space_fauna/revenant/revenant_effects.dm
Labels: Code: Fix, Balance, Approval: admin approved, Code: Improvement

#6053 Add more ways to get rescue hooks
  code/modules/cargo/goodies.dm
  code/modules/fishing/fishing_equipment.dm
  code/modules/mining/mine_items.dm
  code/modules/vending/medical.dm
  monkestation/code/game/machinery/computer/orders/order_items/mining/order_consumables.dm
  tgstation.dme
Labels: Balance, QoL, Approval: admin approved

#6194 fixes jukeboxes and lobby music not working on 516 i guess
  monkestation/code/modules/cassettes/machines/media/HTML5_player.dm
  monkestation/code/modules/cassettes/machines/media/media_manager.dm
Labels: Code: Fix

#6171 [PORT] scss cleanup and some chat things
  tgui/packages/tgui-panel/chat/renderer.jsx
  tgui/packages/tgui-panel/panelFocus.ts
  tgui/packages/tgui/styles/functions.scss
  tgui/packages/tgui/styles/interfaces/Mecha.scss
  tgui/packages/tgui/styles/interfaces/NuclearBomb.scss
  tgui/packages/tgui/styles/layouts/Window.scss
Labels: Code: Fix, Process: should testmerge, Code: TGUI

#6188 Lets cats knock things off reinforced tables
  monkestation/code/modules/blueshift/structures/flipped_table.dm
Labels: QoL, Approval: admin approved, Oversight

#6202 Updates the syndie magboots description to not mention the lack of slowdown
  monkestation/code/modules/uplink/uplink_items/misc.dm
Labels: Code: Fix

#6214 Remove the unused metrics subsystem
  SQL/tgstation_schema.sql
  code/controllers/subsystem.dm
  code/game/world.dm
  monkestation/code/controllers/subsystem/profiler.dm
  monkestation/code/modules/metrics/metric_subsystem.dm
  monkestation/code/modules/metrics/subsystem_analytics/generics.dm
  tgstation.dme
Labels: Removal

#6181 Optimize roundend stuff
  code/__HELPERS/mobs.dm
  code/__HELPERS/roundend.dm
  code/__HELPERS/~monkestation-helpers/roundend.dm
  code/datums/station_integrity.dm
Labels: Code: Performance / Optimization, Process: should testmerge

#6212 Refactor debugger and byond-tracy init
  code/__HELPERS/roundend.dm
  code/_compile_options.dm
  code/controllers/subsystem/statpanel.dm
  code/controllers/subsystem/ticker.dm
  code/game/world.dm
  code/modules/debugging/debugger.dm
  code/modules/debugging/tracy.dm
  code/modules/error_handler/error_handler.dm
  monkestation/code/modules/admin/verbs/tracy.dm
  tgstation.dme
Labels: Feature: Refactor/Rework, Code: Improvement

#6179 [PORT] Deleting characters
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferenceWindow.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/DeleteCharacterPopup.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
Labels: QoL, Code: TGUI

#6218 [PORT] actual round time
  code/__DEFINES/time.dm
Labels: Code: Fix

#6203 Port STATUS_EFFECT_AUTO_TICK
  code/__DEFINES/status_effects.dm
  code/modules/unit_tests/status_effect_validity.dm
Labels: Code: Improvement

#6216 Refactor armaments and imports to use `DmIcon`
  code/game/objects/items/storage/belt.dm
  monkestation/code/modules/blueshift/components/armament.dm
  monkestation/code/modules/blueshift/items/knives.dm
  monkestation/code/modules/blueshift/subsystems/armament.dm
  tgui/packages/tgui/interfaces/ArmamentStation.jsx
  tgui/packages/tgui/interfaces/CargoImportConsole.jsx
Labels: Code: Performance / Optimization, Code: TGUI

#6219 [PORT] adds a reloader to prevent chat from bugging out
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/chat/renderer.jsx
Labels: Code: Fix, Code: TGUI

#6231 some more (mostly 516-related) tgui fixes
  code/__DEFINES/computers.dm
  code/__DEFINES/dcs/signals/signals_tgui.dm
  code/_onclick/hud/map_popups.dm
  code/_onclick/hud/map_view.dm
  code/controllers/subsystem/tgui.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/records/medical.dm
  code/game/machinery/computer/records/records.dm
  code/game/machinery/computer/records/security.dm
  code/game/objects/items/devices/spyglasses.dm
  code/modules/admin/view_variables/color_matrix_editor.dm
  code/modules/awaymissions/gateway.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/client/preferences.dm
  code/modules/mod/mod_paint.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
  code/modules/tgui/tgui_window.dm
  code/modules/vehicles/mecha/mecha_ui.dm
  html/statbrowser.css
  tgstation.dme
  tgui/.gitignore
  tgui/.prettierrc.yml
  tgui/packages/tgui-panel/audio/player.ts
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui-say/helpers.ts
  tgui/packages/tgui-setup/helpers.js
  tgui/packages/tgui-setup/ntos-error.css
  tgui/packages/tgui-setup/package.json
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/interfaces/CivCargoHoldTerminal.jsx
  tgui/packages/tgui/interfaces/MedicalRecords/RecordTabs.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/RecordTabs.tsx
  tgui/packages/tgui/styles/interfaces/ExperimentConfigure.scss
  tgui/packages/tgui/styles/interfaces/TachyonArray.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/helpers.min.js
  tgui/public/ntos-error.min.css
  tgui/public/tgui.html
  tgui/yarn.lock
Labels: Code: Fix, Code: TGUI

#6236 Hopefully stops replay init from seemingly freezing the server
  monkestation/code/modules/replays/subsystem/replay.dm
Labels: Code: Fix, Code: Performance / Optimization

#6233 Fix plague rats appearing twice on the roundend report
  monkestation/code/modules/virology/disease/plague_rat/antagonist.dm
Labels: Code: Fix

#6238 Fix edge-cases where clothing icons wouldn't update when equipped
  code/game/objects/items.dm
Labels: Code: Fix

#6207 Allow antag tokens to be used for revenants (if configured)
  code/modules/events/ghost_role/revenant_event.dm
  monkestation/code/modules/antagonists/revenant/revenant_antag.dm
  monkestation/code/modules/client/verbs.dm
  tgstation.dme
Labels: Feature: Feature

#6248 Fix tgui-say chat history on BYOND 516
  tgui/packages/common/keys.ts
  tgui/packages/tgui-say/TguiSay.tsx
Labels: Code: Fix, Code: TGUI

#6255 Fix not being able to use hypernob crystals and such on clothes with storage
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer_items.dm
  code/modules/research/xenobiology/crossbreeding/_potions.dm
  code/modules/research/xenobiology/xenobiology.dm
  monkestation/code/modules/clothing/durathread_weave.dm
Labels: Code: Fix

#6209 Makes the Strong-Arm implant far more useful
  code/__DEFINES/DNA.dm
  code/__DEFINES/traits/monkestation/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/station_traits/positive_traits.dm
  code/modules/cargo/packs/medical.dm
  code/modules/research/designs/medical_designs.dm
  monkestation/code/modules/blueshift/items/implants.dm
  monkestation/code/modules/cybernetics/augments/_base_changes.dm
  monkestation/code/modules/cybernetics/augments/arm_augments/_base.dm
  monkestation/code/modules/cybernetics/augments/arm_augments/item_sets/_base.dm
  monkestation/code/modules/cybernetics/augments/arm_augments/unsorted.dm
  monkestation/code/modules/cybernetics/black_markets/aftermarket_implants.dm
Labels: Balance, QoL, Approval: admin approved

#6263 move CI to `ubuntu-24.04`
  .github/workflows/compile_changelogs.yml
  .github/workflows/conflicts.yml
  .github/workflows/docker_publish.yml
  .github/workflows/generate_documentation.yml
  .github/workflows/pr_emoji.yml
  .github/workflows/round_id_linker.yml
  .github/workflows/show_screenshot_test_results.yml
  .github/workflows/stale.yml
  .github/workflows/test_merge_bot.yml
Labels: Tools, Code: Fix

#6273 stalebot moment
  .github/workflows/stale.yml
Labels: Tools, what

#6199 grab bag of changes
  code/modules/clothing/masks/costume.dm
  code/modules/research/techweb/mech_nodes.dm
  monkestation/code/modules/clothing/chameleon.dm
  monkestation/code/modules/clothing/masks/costume.dm
  monkestation/code/modules/research/nanites/nanite_remote.dm
  tgstation.dme
Labels: Feature: Feature, Balance, Approval: admin approved, Code: Improvement

#6037 flechette now weaker against armor
  monkestation/code/modules/blueshift/items/ammo.dm
Labels: Balance, Approval: admin approved

#6259 Optimize Plexora shutdown reports; Yoink discord mentor replying
  code/__DEFINES/~monkestation/plexora.dm
  code/controllers/configuration/entries/monkestation.dm
  code/game/world.dm
  code/modules/admin/verbs/server.dm
  code/modules/tgs/core/core.dm
  config/config.txt
  monkestation/code/controllers/subsystem/plexora.dm
  monkestation/code/modules/mentor/mentor_help.dm
  monkestation/code/modules/mentor/mentor_pm.dm
  monkestation/code/modules/mob/dead/new_player/new_player.dm
  monkestation/code/modules/slash_commands/world_topics.dm
  tgstation.dme
Labels: Removal, Feature: Feature, Code: Performance / Optimization

#6144 When a hive node is implanted, automatically learn Xenocommon
  code/modules/mob/living/carbon/alien/organs.dm
Labels: Feature: Feature, Approval: admin approved

#6138 Adds new item to all uplinks misc. gear; Xenomorph Hive Node Implanter
  monkestation/code/modules/cybernetics/implant_items/autosurgeons.dm
  monkestation/code/modules/uplink/uplink_items/misc.dm
Labels: Feature: Feature, Approval: admin approved, RED LABEL

#6256 Remaps Theseus piping for mailing
  _maps/map_files/Theseus/Theseus.dmm
Labels: Change: Mapping, Code: Fix

#6247 AI Now takes 15 Hrs of borg instead of 3 to unlock.
  code/modules/jobs/job_types/ai.dm
Labels: Balance, Approval: admin approved

#6038 Positronic Reboot Surgery fix
  monkestation/code/modules/surgery/robot_chest_repair.dm
Labels: Code: Fix, RED LABEL

#6012 Limb grower weirdness
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  code/game/machinery/defibrillator_mount.dm
  code/game/machinery/limbgrower.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/research/techweb/medbay_nodes.dm
  icons/obj/machines/limbgrower.dmi
  monkestation/code/modules/botany/species/apid/external_organs/wings.dm
  monkestation/code/modules/language/gobbish.dm
  monkestation/code/modules/language/language_holder.dm
  monkestation/code/modules/language/yangyu.dm
  monkestation/code/modules/mob/living/carbon/human/species_type/apid.dm
  monkestation/code/modules/mob/living/carbon/human/species_type/goblin.dm
  monkestation/code/modules/mob/living/carbon/human/species_type/ornithid.dm
  monkestation/code/modules/ranching/satyr/external_organs.dm
  monkestation/code/modules/research/designs/limbgrower_designs.dm
  monkestation/code/modules/research/designs/mechfabricator_designs.dm
  monkestation/code/modules/research/techweb/all_nodes.dm
  monkestation/code/modules/surgery/organ_manipulation.dm
  monkestation/code/modules/surgery/organs/external/appendages/appendages.dm
  monkestation/code/modules/surgery/organs/external/chelicerae/chelicerae.dm
  monkestation/code/modules/surgery/organs/external/tail/satyrtail.dm
  monkestation/code/modules/surgery/organs/internal/tongue.dm
  monkestation/code/modules/the_bird_inside_of_me/icons/ornithidfeatures.dmi
  monkestation/code/modules/the_bird_inside_of_me/language.dm
  monkestation/code/modules/the_bird_inside_of_me/organs.dm
  monkestation/code/modules/the_bird_inside_of_me/plummage.dm
  monkestation/code/modules/the_bird_inside_of_me/wings.dm
  monkestation/icons/obj/medical/organs/organs.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Limbgrower.jsx
Labels: Change: spriting, Feature: Expansion, Approval: admin approved, Code: TGUI

#6117 Some maints loot and trash piles tweaks
  code/_globalvars/lists/maintenance_loot.dm
  monkestation/code/game/objects/structures/trash_pile.dm
Labels: Balance, Approval: admin approved

#6284 replace bubble sort with timsort for cameralist, filter then sort, move global procs to `cameranet` datum
  code/__HELPERS/cameras.dm
  code/__HELPERS/cmp.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/camera_advanced.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/freelook/cameranet.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
  tgstation.dme
Labels: Feature: Refactor/Rework, Code: Performance / Optimization

#6308 Fix Report Bugs button not being red anymore
  tgui/packages/tgui-panel/themes.ts
Labels: Code: Fix

#6285 cache the output of `/datum/antagonist/proc/render_preview_outfit`
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_headrevolutionary.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_opforcandidate.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_provocateur.png
Labels: Code: Performance / Optimization

#6191 FISTS NO LONGER BEAT STEEL
  code/datums/martial/sleeping_carp.dm
  monkestation/code/modules/martial_arts/awakened_dragon.dm
  monkestation/code/modules/martial_arts/tunnel_arts.dm
Labels: Balance, Approval: admin approved

#6311 Add some more lua helpers (and fix one)
  code/modules/admin/verbs/SDQL2/SDQL_2_wrappers.dm
  lua/SS13_base.lua
Labels: Tools, Code: Fix

#6288 Restart MC topic for plexora
  monkestation/code/controllers/subsystem/plexora.dm
Labels: FUCK

#6309 Minor config-related fixes
  code/controllers/configuration/configuration.dm
  code/controllers/configuration/entries/general.dm
Labels: Code: Fix

#5906 Ports tgui ticket panel from yogs
  code/modules/admin/sql_message_system.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/admin.dm
  code/modules/admin/verbs/adminevents.dm
  code/modules/admin/verbs/adminfun.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/view_variables/modify_variables.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  interface/skin.dmf
  monkestation/code/__HELPERS/text_helpers.dm
  monkestation/code/controllers/subsystem/plexora.dm
  monkestation/code/datums/mocking/client.dm
  monkestation/code/modules/admin/admin.dm
  monkestation/code/modules/admin/verbs/adminhelp.dm
  monkestation/code/modules/admin/verbs/ticketpanel.dm
  monkestation/code/modules/cryopods/cryo_admin_helpers.dm
  monkestation/code/modules/mentor/ahelp_reject.dm
  monkestation/code/modules/mentor/mentor_friend.dm
  monkestation/code/modules/replays/subsystem/replay.dm
  monkestation/code/modules/tgui/states/holder.dm
  monkestation/interface/interface.dm
  tgstation.dme
  tgui/packages/tgui-panel/themes.ts
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/interfaces/TicketListPanel.jsx
  tgui/packages/tgui/interfaces/TicketPanel.jsx
  tgui/packages/tgui/styles/themes/admintickets.scss
Labels: Feature: enhancement, Process: do not merge, Approval: admin approved, Process: should testmerge, Code: TGUI

#5989 Gives teratomas the captain's car keys (uncommon teratoma spawn event + other misc teratoma stuff)
  code/__DEFINES/role_preferences.dm
  code/modules/client/preferences/middleware/antags.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_teratoma.png
  monkestation/code/modules/antagonists/changeling/powers/teratomas.dm
  monkestation/code/modules/antagonists/teratoma/teratoma.dm
  monkestation/code/modules/storytellers/converted_events/solo/ghosts/teratoma.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/teratoma.ts
Labels: peak, Feature: Feature, Approval: admin approved, Process: should testmerge

#6324 Cleanup
  _maps/map_files/generic/CentCom.dmm
  monkestation/code/game/objects/items/admin_plushies.dm
Labels: Removal, QoL, fuck it we ball

#6131 Maintencedrone.exe
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/Theseus/Theseus.dmm
  _maps/map_files/Voidraptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/modules/mob/living/basic/drone/drone_tools.dm
  code/modules/research/stock_parts.dm
Labels: Change: Mapping, Code: Fix, Balance, QoL, Approval: admin approved

#6328 Roundremoving bitrunners... Is a bad thing
  _maps/virtual_domains/psyker_shuffle.dmm
  _maps/virtual_domains/psyker_zombies.dmm
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Change: Mapping, Code: Fix

#6319 Fix some antags still rolling after the emergency shuttle is past the point of no return
  code/modules/antagonists/pirate/pirate_event.dm
  code/modules/events/_event.dm
  code/modules/events/ghost_role/blob.dm
  monkestation/code/modules/antagonists/florida_man/florida_events.dm
  monkestation/code/modules/blood_for_the_blood_gods/slasher/ghost_role.dm
  monkestation/code/modules/events/ghost_role/drifting_contractor.dm
  monkestation/code/modules/storytellers/converted_events/_base_event.dm
  monkestation/code/modules/storytellers/converted_events/event_overrides.dm
  monkestation/code/modules/storytellers/converted_events/solo/ghosts/teratoma.dm
  monkestation/code/modules/virology/disease/plague_rat/event.dm
Labels: Code: Fix

#6320 some more assorted fixes
  code/__DEFINES/research.dm
  code/controllers/subsystem/chat.dm
  code/controllers/subsystem/persistent_paintings.dm
  code/controllers/subsystem/research.dm
  code/controllers/subsystem/statpanel.dm
  code/datums/wounds/bones.dm
  code/datums/wounds/burns.dm
  code/datums/wounds/slash.dm
  code/modules/antagonists/blob/powers.dm
  code/modules/art/paintings.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
  code/modules/research/rdconsole.dm
  code/modules/research/techweb/__techweb_helpers.dm
  code/modules/research/techweb/_techweb.dm
  code/modules/research/techweb/cyborg_nodes.dm
  monkestation/code/modules/virology/disease/symtoms/annoying/cough.dm
  tgui/packages/tgui/interfaces/Techweb.jsx
Labels: Code: Fix

#6077 Use new verification code format
  code/controllers/subsystem/discord.dm
Labels: Code: Improvement, RED LABEL

#6316 Fix hard deletes with the prosthetic limb quirk (prolly)
  code/datums/quirks/negative_quirks/prosthetic_limb.dm
  monkestation/code/modules/cryopods/_cryopod.dm
Labels: Code: Fix

#6280 UI scaling fixes for 516 (+ command bar typing indicators)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/browser.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/view_variables/view_variables.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences/tgui.dm
  code/modules/client/verbs/typing.dm
  code/modules/mob/mob_defines.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui_input/say_modal/modal.dm
  code/modules/tgui_input/say_modal/typing.dm
  code/modules/tgui_panel/external.dm
  html/typing_indicator.html
  interface/interface.dm
  interface/skin.dmf
  monkestation/code/modules/tgui_input/say_modal/typing.dm
  tgstation.dme
  tgui/packages/tgui-panel/index.tsx
  tgui/packages/tgui-panel/settings/SettingsPanel.jsx
  tgui/packages/tgui-panel/settings/middleware.js
  tgui/packages/tgui-panel/settings/scaling.ts
  tgui/packages/tgui-panel/themes.ts
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui-say/helpers.ts
  tgui/packages/tgui-say/styles/textarea.scss
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/components/Input.jsx
  tgui/packages/tgui/drag.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferenceWindow.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/LoadoutPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/tgui.tsx
  tgui/packages/tgui/interfaces/RapidConstructionDevice.tsx
  tgui/packages/tgui/interfaces/RapidPipeDispenser.tsx
  tgui/packages/tgui/interfaces/RapidPlumbingDevice.tsx
  tgui/packages/tgui/interfaces/RapidTilingDevice.tsx
  tgui/packages/tgui/interfaces/SurgeryInitiator.tsx
  tgui/packages/tgui/interfaces/TextInputModal.tsx
  tgui/packages/tgui/layouts/Window.jsx
  tgui/packages/tgui/styles/functions.scss
  tgui/packages/tgui/styles/layouts/TitleBar.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/ntos_terminal.scss
Labels: Code: Fix, QoL, Code: TGUI

#6312 using "Make Human" will now apply quirks and loadout
  code/modules/admin/topic.dm
Labels: QoL, Approval: admin approved

#6333 Preview icons for antags
  code/modules/client/preferences/middleware/antags.dm
  code/modules/mod/mod_types.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_assaultoperative.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_plaguerat.png
  monkestation/code/modules/assault_ops/code/antagonist.dm
  monkestation/code/modules/assault_ops/code/outfits.dm
  monkestation/code/modules/virology/disease/plague_rat/antagonist.dm
Labels: Code: Fix

#6034 IPC death / revival fixes
  code/modules/surgery/bodyparts/_bodyparts.dm
  monkestation/code/modules/mob/living/carbon/human/species_type/ipc.dm
  monkestation/code/modules/surgery/organs/internal/brain.dm
Labels: Code: Fix

#6180 Bloodsuckers can now overfeed and doing so gives regen.
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_datum.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_life.dm
  monkestation/code/modules/bloodsuckers/powers/feed.dm
Labels: Feature: Feature, Balance, Approval: admin approved

#6339 Piggyback & Fireman logging fix
  code/datums/components/riding/riding_mob.dm
Labels: QoL, Approval: admin approved

#6302 Fez! now avaliable in a Clothesmat near you!
  code/modules/vending/clothesmate.dm
  monkestation/code/modules/clothing/head/hat.dm
  monkestation/code/modules/loadouts/items/heads.dm
  monkestation/icons/mob/clothing/head.dmi
  monkestation/icons/obj/clothing/hats.dmi
Labels: Change: spriting, Approval: admin approved

#6343 Slightly improves bloodsucker masquerade infraction checking
  monkestation/code/modules/bloodsuckers/powers/feed.dm
Labels: Approval: admin approved

#6177 some monster hunter stuff i guess
  code/__DEFINES/~monkestation/dcs/signals/signals_global.dm
  code/__DEFINES/~monkestation/dcs/signals/signals_monster_hunter.dm
  code/__HELPERS/~monkestation-helpers/antags.dm
  code/modules/antagonists/monster_hunters/abilities/bloodsilver.dm
  code/modules/antagonists/monster_hunters/abilities/paradox.dm
  code/modules/antagonists/monster_hunters/abilities/vision.dm
  code/modules/antagonists/monster_hunters/abilities/wonderland.dm
  code/modules/antagonists/monster_hunters/events/wonderland.dm
  code/modules/antagonists/monster_hunters/events/wonderland_apocalypse.dm
  code/modules/antagonists/monster_hunters/hunter_datum.dm
  code/modules/antagonists/monster_hunters/hunter_rulesets.dm
  code/modules/antagonists/monster_hunters/monsters/killer_rabbits.dm
  code/modules/antagonists/monster_hunters/monsters/monster_controllers/killer_rabbit.dm
  code/modules/antagonists/monster_hunters/monsters/monster_controllers/red_rabbit.dm
  code/modules/antagonists/monster_hunters/monsters/monster_effects/killer_rabbit_effects.dm
  code/modules/antagonists/monster_hunters/monsters/monster_effects/white_rabbit.dm
  code/modules/antagonists/monster_hunters/monsters/monster_powers/killer_rabbit_powers.dm
  code/modules/antagonists/monster_hunters/monsters/red_rabbit.dm
  code/modules/antagonists/monster_hunters/tools/blood_vial.dm
  code/modules/antagonists/monster_hunters/tools/bnuuy_mask.dm
  code/modules/antagonists/monster_hunters/tools/jack_bomb.dm
  code/modules/antagonists/monster_hunters/tools/rabbit_eye.dm
  code/modules/antagonists/monster_hunters/tools/rabbit_locator.dm
  code/modules/antagonists/monster_hunters/tools/weaponsmith.dm
  code/modules/antagonists/monster_hunters/weapons/_trick_weapon.dm
  code/modules/antagonists/monster_hunters/weapons/beast_claw.dm
  code/modules/antagonists/monster_hunters/weapons/darkmoon.dm
  code/modules/antagonists/monster_hunters/weapons/hunter_axe.dm
  code/modules/antagonists/monster_hunters/weapons/hunter_revolver.dm
  code/modules/antagonists/monster_hunters/weapons/threaded_cane.dm
  monkestation/code/modules/antagonists/monster_hunters/hunting_contracts.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/AntagInfoMonsterHunter.tsx
  tgui/packages/tgui/interfaces/HunterContract.jsx
Labels: Balance, QoL, Approval: admin approved, Code: Improvement, Code: TGUI

#6364 Fixes tgui dev server issues
  tgui/packages/tgui-dev-server/dreamseeker.js
  tgui/packages/tgui-dev-server/reloader.js
Labels: Code: Fix, Code: TGUI

#6365 Fix monster hunter UI not properly displaying objective completion
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/monster_hunters/hunter_datum.dm
Labels: Code: Fix

#6300 Bogseo balance fix
  monkestation/code/modules/blueshift/items/ammo.dm
  monkestation/code/modules/blueshift/items/company_guns.dm
  monkestation/code/modules/blueshift/items/gunset.dm
  monkestation/code/modules/projectiles/guns/ballistic/machine_guns.dm
Labels: Balance, Approval: admin approved

#6355 Fez Purchaseable via Loadout
  monkestation/code/modules/loadouts/items/heads.dm
  monkestation/code/modules/store/store_items/head.dm
Labels: Feature: Feature

#6370 Prevent bloodsuckers and IPCs from being cloned
  monkestation/code/game/machinery/cloning.dm
  monkestation/code/game/machinery/computer/cloning.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_datum.dm
Labels: Code: Fix

#6383 Coffins now protect bloodsuckers from temperature and pressure, to prevent infinite torpor softlocks
  code/__DEFINES/traits/monkestation/sources.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_datum.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_life.dm
Labels: Code: Fix, Balance, Approval: admin approved

#6389 Revert "[PORT] adds a reloader to prevent chat from bugging out"
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/chat/renderer.jsx
Labels: Code: Fix, Process: should testmerge, Code: TGUI

#6394 Fix the Teratoma Syndrome symptom not working
  monkestation/code/modules/virology/disease/symtoms/harmful/teratoma.dm
Labels: Code: Fix

#6384 [PORT] Adds some heretic influence examine lines
  code/modules/antagonists/heretic/influences.dm
  strings/antagonist_flavor/heretic_influences.json
Labels: QoL

#6388 Plunger Item resprite also adds inhand icon_states for it.
  code/game/objects/structures/lavaland/geyser.dm
  icons/mob/clothing/mask.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/watercloset.dmi
Labels: Change: spriting, peak

#6380 Removes night vision quirk
  code/datums/quirks/positive_quirks/night_vision.dm
  tgstation.dme
Labels: Removal, Approval: admin approved

#6356 [PORT] Replaces Upgraded Cybernetic Ears with two new variants
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/say.dm
  code/__DEFINES/traits/declarations.dm
  code/__HELPERS/spatial_info.dm
  code/_globalvars/traits/_traits.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/station_traits/positive_traits.dm
  code/game/machinery/hologram.dm
  code/game/machinery/telecomms/broadcasting.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/cargo/bounties/medical.dm
  code/modules/mob/living/living_say.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/research/techweb/cyborg_nodes.dm
  code/modules/surgery/organs/ears.dm
  code/modules/unit_tests/say.dm
  monkestation/code/modules/the_wolf_inside_of_me/organs.dm
Labels: Feature: Feature, Balance, Approval: admin approved

#6358 feeds some more bugs to my refrigerator
  code/__DEFINES/client.dm
  code/__DEFINES/research/anomalies.dm
  code/__DEFINES/time.dm
  code/_globalvars/lists/mobs.dm
  code/_onclick/hud/new_player.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/lighting.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/stop_and_stare.dm
  code/datums/ai/movement/ai_movement_complete_stop.dm
  code/datums/brain_damage/hypnosis.dm
  code/datums/components/reflection.dm
  code/datums/quirks/negative_quirks/junkie.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/data_huds.dm
  code/game/machinery/newscaster/newscaster_machine.dm
  code/game/objects/items/grenades/plastic.dm
  code/game/objects/structures/mirror.dm
  code/modules/antagonists/heretic/magic/mind_gate.dm
  code/modules/antagonists/heretic/structures/knock_final.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/buildmode/submodes/throwing.dm
  code/modules/client/client_procs.dm
  code/modules/client/persistent_client.dm
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/lighting/lighting_source.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/living_fov.dm
  code/modules/mod/mod_link.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/spells/spell_types/tower_of_babel.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/surgery/organs/internal/heart/_heart.dm
  code/modules/vehicles/mecha/mecha_ui.dm
  monkestation/code/modules/blood_datum/stunning.dm
  monkestation/code/modules/cassettes/machines/media/media_manager.dm
  monkestation/code/modules/clothing/neck/cloaks.dm
  monkestation/code/modules/cybernetics/implant_items/autosurgeons.dm
  monkestation/code/modules/mentor/mentor_pm.dm
  monkestation/code/modules/mod/mod_link.dm
  monkestation/code/modules/physics/physics_component.dm
  monkestation/code/modules/veth_misc_items/veth_player_panel/veth_player_panel.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/VethPlayerPanel.tsx
  tgui/packages/tgui/styles/interfaces/VethPlayerPanel.scss
  tgui/packages/tgui/styles/main.scss
Labels: Code: Fix, Process: should testmerge, Code: TGUI

#5968 Heretic void chill + ascension changes
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/antagonists/heretic/status_effects/void_chill.dm
  code/modules/antagonists/heretic/transmutation_rune.dm
Labels: Balance, Stale, Approval: admin approved

#6400 fixes missing disposal/cable on theseus
  _maps/map_files/Theseus/Theseus.dmm
Labels: Change: Mapping, Code: Fix

#6411 Prevents atmosians from getting an aneurysm at IceBox by fixing a pump's layer
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Change: Mapping

#6418 [s] Fixes ANOTHER monkecoin dupe
  monkestation/code/modules/store/atm/_atm.dm
Labels: Severity: Major

#6407 Raises the earliest start time for Teratoma Crash to 40 minutes
  monkestation/code/modules/storytellers/converted_events/solo/ghosts/teratoma.dm
Labels: Balance, Approval: admin approved

#6425 Thesues Detective spawn fix
  _maps/map_files/Theseus/Theseus.dmm
Labels: Severity: Minor, Change: Mapping, Code: Fix

#6432 Fixes crew melting into the floor from eating APCs by coating said machinery in non-tasty paint
  code/modules/food_and_drinks/machinery/deep_fryer.dm
Labels: what, Code: Fix

#6435 Fixes a respawn exploit + Minor additions to make it work: TAKE 2
  _maps/shuttles/emergency_medisim.dmm
  code/game/turfs/open/chasm.dm
Labels: Change: Mapping, Code: Fix

#6431 Adds a button for headset message to Veth's Player Panel
  monkestation/code/modules/veth_misc_items/veth_player_panel/veth_player_panel.dm
  tgui/packages/tgui/interfaces/VUAP_personal.tsx
Labels: QoL, Approval: admin approved

#6421 Theseus Fix Batch
  _maps/map_files/Theseus/Theseus.dmm
Labels: Change: Mapping, Code: Fix

#6426 Pipe fixes
  code/__DEFINES/atmospherics/atmos_piping.dm
  code/modules/atmospherics/machinery/pipes/layermanifold.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
  code/modules/atmospherics/machinery/pipes/smart.dm
  code/modules/shuttle/on_move.dm
Labels: what, Code: Fix

#6318 [Code Bounty] Weeping Kudzu Trait and some heliostation fixes
  _maps/map_files/Heliostation/Heliostation.dmm
  code/modules/events/space_vines/vine_mutations.dm
Labels: Feature: Feature, Approval: admin approved

#6228 Bloodsucker Sol level up Cap
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_sol.dm
Labels: Balance, Approval: admin approved

#6342 Poobs beats me if i dont work on slasher 3 times a month
  code/datums/helper_datums/teleport.dm
  code/modules/antagonists/nukeop/equipment/nuclear_authentication_disk.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_slasher.png
  icons/mob/simple/mob.dmi
  monkestation/code/modules/blood_for_the_blood_gods/slasher/abilities/blood_walk.dm
  monkestation/code/modules/blood_for_the_blood_gods/slasher/abilities/envelope_darkness.dm
  monkestation/code/modules/blood_for_the_blood_gods/slasher/abilities/recall_machette.dm
  monkestation/code/modules/blood_for_the_blood_gods/slasher/abilities/slasher_regenerate.dm
  monkestation/code/modules/blood_for_the_blood_gods/slasher/abilities/stalk_target.dm
  monkestation/code/modules/blood_for_the_blood_gods/slasher/ghost_role.dm
  monkestation/code/modules/blood_for_the_blood_gods/slasher/slasher_datum.dm
  monkestation/code/modules/blood_for_the_blood_gods/slasher/slasher_outfit/slasher_clothing.dm
  monkestation/code/modules/mob/living/simple_animal/bot/secbot.dm
  monkestation/icons/mob/slasher/slasher_items.dmi
  monkestation/icons/mob/slasher/slasher_wornstates.dmi
  monkestation/sound/effects/plate_smash.ogg
  monkestation/sound/effects/slasher_jauntappear.ogg
  monkestation/sound/effects/slasher_jauntstart.ogg
  monkestation/sound/effects/tape_end.ogg
  monkestation/sound/effects/tape_start.ogg
Labels: Feature: enhancement, Code: Fix, Balance, Approval: admin approved

#6459 Bugfix - Blueshield Bogseo case now has ammoboxes instead of loose rounds
  monkestation/code/modules/blueshift/items/company_guns.dm
  monkestation/code/modules/blueshift/items/gunset.dm
Labels: Code: Fix, Funny

#6462 Better drying rack examines; Craftable cigarette packs
  code/datums/elements/dryable.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/fancy.dm
  code/modules/food_and_drinks/machinery/smartfridge.dm
Labels: QoL, Code: Improvement

#6430 [PORT] Fixes wings working when they shouldn't
  code/modules/surgery/organs/external/wings/functional_wings.dm
Labels: Code: Fix

#6468 Adds L-L-L-Lava Ch-Ch-Ch-Chicken.
  code/game/objects/items/food/meatdish.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
Labels: peak, Funny

#6482 Fixes inconsistency in interface
  monkestation/interface/interface.dm
Labels: Severity: Minor, Code: Fix

#6485 Xenobio hot fixes
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/Theseus/Theseus.dmm
Labels: Change: Mapping, Code: Fix

#6473 Fix smithing minigame
  monkestation/code/modules/smithing/minigame/anvil_minigame.dm
Labels: Severity: Major, Code: Fix

#6486 You cannot pick up yourself in a bodybag
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
Labels: Code: Fix

#6474 Gives Lava Chicken an actual sprite
  code/game/objects/items/food/meatdish.dm
  icons/obj/food/meat.dmi
Labels: Change: spriting

#6491 Add a warning to the admin "Shake" VV
  code/game/atoms.dm
Labels: QoL

#6488 Drops support for 515, bumps compile ands tests to 516
  .github/alternate_byond_versions.txt
  .github/max_required_byond_client.txt
  .tgs.yml
  code/__byond_version_compat.dm
  code/_globalvars/bitfields.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/rendering/plane_master_group.dm
  code/_onclick/hud/rendering/render_plate.dm
  code/modules/admin/holder2.dm
  code/modules/admin/view_variables/debug_variable_appearance.dm
  code/modules/asset_cache/asset_cache_client.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences/tgui.dm
  dependencies.sh
  monkestation/code/modules/blood_for_the_blood_gods/slasher/abilities/slasher_regenerate.dm
Labels: Tools

#6438 Minor Blueshift improvements
  _maps/map_files/Blueshift/Blueshift.dmm
Labels: Change: Mapping

#6422 Misc Mapping Power Cell Fixes (+ SMES loop unit test)
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/Theseus/Theseus.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/smes_connections.dm
Labels: Change: Mapping, Code: Fix

#6499 Fully disable AFK kicking functionality
  code/controllers/subsystem/server_maint.dm
Labels: what, Removal, Code: Fix

#6379 map vote refactor, map vote changes
  code/__DEFINES/maps.dm
  code/__DEFINES/memory_defines.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/game.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/blackbox.dm
  code/controllers/subsystem/library.dm
  code/controllers/subsystem/map_vote.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/persistence/_persistence.dm
  code/controllers/subsystem/persistence/engravings.dm
  code/controllers/subsystem/processing/station.dm
  code/controllers/subsystem/statpanel.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/time_track.dm
  code/controllers/subsystem/title.dm
  code/controllers/subsystem/vote.dm
  code/datums/id_trim/jobs.dm
  code/datums/martial/cqc.dm
  code/datums/votes/_vote_datum.dm
  code/datums/votes/custom_vote.dm
  code/datums/votes/map_vote.dm
  code/datums/votes/restart_vote.dm
  code/datums/votes/rock_the_vote.dm
  code/datums/world_topic.dm
  code/game/machinery/computer/communications.dm
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/chat_commands.dm
  code/modules/admin/verbs/maprotation.dm
  code/modules/antagonists/wizard/grand_ritual/finales/armageddon.dm
  code/modules/client/verbs/ooc.dm
  code/modules/discord/tgs_commands.dm
  code/modules/escape_menu/details.dm
  code/modules/escape_menu/home_page.dm
  code/modules/events/_event.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/photography/photos/frame.dm
  code/modules/procedural_mapping/mapGenerators/repair.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/shuttle.dm
  code/modules/unit_tests/breath.dm
  code/modules/unit_tests/lungs.dm
  code/modules/unit_tests/unit_test.dm
  config/config.txt
  config/map_vote.txt
  monkestation/code/controllers/subsystem/plexora.dm
  monkestation/code/datums/votes/transfer_vote.dm
  monkestation/code/modules/map_gen_expansions/_basemapping.dm
  monkestation/code/modules/outdoors/code/controllers/subsystem/outdoors_effects.dm
  monkestation/code/modules/outdoors/code/controllers/subsystem/particle_weather.dm
  monkestation/code/modules/storytellers/storytellers/vote.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/VotePanel.tsx
Labels: Code: Fix, Feature: Refactor/Rework, Approval: admin approved, Code: Improvement, Process: should testmerge

#6497 Prevent malf AIs from destroying otherwise indestructible machines
  code/game/machinery/_machinery.dm
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
Labels: Code: Fix

#6493 Fix some jobs not getting the proper implants during cybernetic revolution
  code/datums/station_traits/positive_traits.dm
  monkestation/code/datums/station_traits/positive_traits.dm
  tgstation.dme
Labels: Code: Fix

#6495 Atmosph differences
  _maps/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/RandomRuins/SpaceRuins/abandonedunknownsite1.dmm
  _maps/RandomRuins/SpaceRuins/derelict_sulaco.dmm
  _maps/RandomRuins/SpaceRuins/russian_derelict.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  code/game/turfs/open/floor/catwalk_plating.dm
  monkestation/code/modules/ghost_players/arena/maps/snow.dmm
Labels: Change: Mapping

#6492 Genetic analyzer glow-up
  code/game/objects/items/devices/scanners/sequence_scanner.dm
Labels: QoL

#6500 Umm... Windows fixed?
  code/game/objects/structures/window.dm
Labels: Code: Fix

#6515 Remember how to breathe - Pathology
  code/modules/mob/living/carbon/life.dm
Labels: Code: Fix

#6520 Nukes remaining roundstart species damage mods
  code/modules/surgery/bodyparts/species_parts/plasmaman_bodyparts.dm
  monkestation/code/modules/surgery/bodyparts/floran_bodyparts.dm
  monkestation/code/modules/surgery/bodyparts/oozeling_bodyparts.dm
Labels: Code: Fix, Code: Improvement

#6450 Some bloodsucker tweaks
  monkestation/code/modules/bloodsuckers/powers/feed.dm
  monkestation/code/modules/bloodsuckers/powers/go_home.dm
  monkestation/code/modules/bloodsuckers/powers/veil.dm
Labels: Code: Fix, Balance, Approval: admin approved

#6437 Crew X-ray eyes rebalance
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/uplink/uplink_items/implant.dm
  code/modules/uplink/uplink_items/nukeops.dm
Labels: Balance, Approval: admin approved

#6401 Adds artifact zapper board to research and printers. Also vatgrown queen bee fix.
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/research_nodes.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
Labels: Feature: Expansion, Approval: admin approved

#6376 Adds new item to all uplinks misc gear; Reusable Syndicate Autosurgeon
  code/modules/uplink/uplink_items/special.dm
  monkestation/code/modules/uplink/uplink_items/device_tools.dm
  tgstation.dme
Labels: Feature: Feature, Approval: admin approved
