Repository Monkestation/Monkestation2.0, pull requests merged in 2025-06, with the labels that each got.

#6851 Fix ooze suckers being weird with pumping adjacent turfs
  monkestation/code/modules/slimecore/machines/ooze_sucker.dm
Labels: Code: Fix, Code: Improvement

#6848 Slimes properly copy nanites when splitting again
  monkestation/code/modules/datums/components/nanites.dm
  monkestation/code/modules/slimecore/mobs/_base_slime.dm
Labels: Code: Fix, QoL

#6831 [PORT] Rewrites anti-magic slightly to stop spamming anti-magic effects on the same mob to silly levels
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/controllers/subsystem/timer.dm
  code/datums/components/anti_magic.dm
  code/modules/clothing/head/tinfoilhat.dm
  code/modules/mob/mob.dm
  code/modules/spells/spell.dm
Labels: Code: Fix, Code: Improvement

#6781 Evil Disease Cures
  code/__DEFINES/mobs.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/monster_hunters/tools/blood_vial.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/reagent_containers/cups/bottle.dm
Labels: Feature: enhancement, Balance, Approval: admin approved

#6850 some various tgui ports (+ fixes)
  code/__DEFINES/research.dm
  code/controllers/subsystem/research.dm
  code/game/objects/items.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/client/preferences/README.md
  code/modules/modular_computers/file_system/programs/frontier.dm
  code/modules/research/destructive_analyzer.dm
  code/modules/research/ordnance/_scipaper.dm
  code/modules/research/ordnance/scipaper_partner.dm
  code/modules/research/rdmachines.dm
  code/modules/research/techweb/__techweb_helpers.dm
  code/modules/research/techweb/_techweb.dm
  code/modules/research/techweb/_techweb_node.dm
  code/modules/research/techweb/alien_node.dm
  code/modules/research/techweb/syndicate_nodes.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  monkestation/code/modules/research/techweb/all_nodes.dm
  tgui/packages/tgui/components/LabeledList.tsx
  tgui/packages/tgui/interfaces/Changelog.tsx
  tgui/packages/tgui/interfaces/DestructiveAnalyzer.tsx
  tgui/packages/tgui/interfaces/GlassBlowing.tsx
  tgui/packages/tgui/interfaces/InfuserBook.tsx
  tgui/packages/tgui/interfaces/IntegratedCircuit/Connections.jsx
  tgui/packages/tgui/interfaces/IntegratedCircuit/constants.jsx
  tgui/packages/tgui/interfaces/IntegratedCircuit/index.jsx
  tgui/packages/tgui/interfaces/PlaneMasterDebug.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/ai_emote_display.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/ai_hologram_display.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/pda.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/persistent_scars.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/playtime_reward_cloak.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/prisoner_crime.tsx
  tgui/packages/tgui/interfaces/TicketListPanel.jsx
  tgui/packages/tgui/interfaces/TicketPanel.jsx
  tgui/packages/tgui/interfaces/common/Connections.tsx
Labels: Feature: Refactor/Rework, QoL, Code: Improvement, Process: should testmerge, Code: TGUI

#6808 Moving Fixes in May
  _maps/map_files/Theseus/Theseus.dmm
  code/datums/components/surgery_initiator.dm
  code/game/machinery/mechlaunchpad.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/monkey/monkey.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/living.dm
  code/modules/paperwork/paper_biscuit.dm
  code/modules/surgery/bone_mending.dm
  code/modules/surgery/surgery_step.dm
  code/modules/vehicles/mecha/mecha_ui.dm
  monkestation/code/game/objects/items/door_charge.dm
  monkestation/code/modules/surgery/organs/internal/brain.dm
  monkestation/code/modules/uplink/uplink_items/explosive.dm
  tgui/packages/tgui/interfaces/NifPanel.jsx
Labels: Code: Fix

#6861 Fix nanite cloud IDs getting reset
  monkestation/code/modules/research/nanites/nanite_cloud_controller.dm
Labels: Code: Fix

#6853 Revivers reviving
  monkestation/code/modules/cybernetics/augments/chest_augments.dm
Labels: Code: Fix

#6763 Staff plushies and goblin changes
  code/game/objects/items/admin_plushies.dm
  icons/obj/admin_plushies.dmi
  monkestation/code/modules/language/gobbish.dm
  monkestation/code/modules/mob/living/carbon/human/species_type/goblin.dm
  monkestation/code/modules/mob/living/carbon/human/species_type/satyr.dm
  monkestation/icons/obj/medical/organs/organs.dmi
  monkestation/sound/items/gabnoise.ogg
  monkestation/sound/items/sniff.ogg
  monkestation/sound/items/subuluwa.ogg
  monkestation/sound/items/weegee.ogg
Labels: Feature: Feature

#6817 Ports system for restricting quirks based on specie from TG [PORT]
  code/_globalvars/lists/mobs.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/quirks/_quirk.dm
  code/datums/quirks/negative_quirks/blood_deficiency.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences/middleware/_middleware.dm
  code/modules/client/preferences/middleware/quirks.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: Code: Fix

#6855 Hiding dormant diseases and Penlight barriers
  code/game/machinery/medical_kiosk.dm
  code/game/objects/structures/holosign.dm
  icons/effects/holosigns.dmi
Labels: QoL

#6860 make mice cable munchers
  code/datums/ai/hunting_behavior/hunting_mouse.dm
Labels: Approval: admin approved, Funny

#6884 Oh noes. I broke it.
  code/modules/events/ghost_role/nightmare.dm
Labels: Code: Fix, Funny, FUCK

#6883 [PORT] Fixes active conveyor belts not moving movables spawned on top of them.
  code/modules/mining/machine_processing.dm
  code/modules/recycling/conveyor.dm
Labels: Code: Fix

#6854 Contractors no longer kill oozelings with omnizine
  monkestation/code/modules/antagonists/traitor/objectives/kidnapping.dm
Labels: QoL, Approval: admin approved

#6885 nanite cloud id sync fix try 2
  monkestation/code/modules/research/nanites/nanite_cloud_controller.dm
Labels: what, Code: Fix, Process: should testmerge

#6880 Ballgown update
  icons/obj/clothing/under/dress.dmi
Labels: Change: spriting

#6897 Nightmare Nightmare Nightmare
  code/modules/events/ghost_role/nightmare.dm
Labels: FUCK

#6904 Add Cableknit and Keyhole sweater to monkecoin shop
  monkestation/code/modules/loadouts/items/under/under.dm
  monkestation/code/modules/store/store_items/under.dm
Labels: Feature: Feature, Approval: admin approved

#6905 Fixes metastation artsci access
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Change: Mapping

#6879 loot panels!!!
  code/__DEFINES/traits/declarations.dm
  code/__HELPERS/icons.dm
  code/_globalvars/traits/_traits.dm
  code/_onclick/click.dm
  code/_onclick/observer.dm
  code/controllers/subsystem/processing/obj_tab_items.dm
  code/controllers/subsystem/statpanel.dm
  code/datums/components/gps.dm
  code/datums/components/rotation.dm
  code/game/objects/items/grenades/_grenade.dm
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/pressure_valve.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/temperature_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/temperature_pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/lootpanel/_lootpanel.dm
  code/modules/lootpanel/contents.dm
  code/modules/lootpanel/handlers.dm
  code/modules/lootpanel/misc.dm
  code/modules/lootpanel/search_object.dm
  code/modules/lootpanel/ss_looting.dm
  code/modules/lootpanel/ui.dm
  code/modules/mob/living/basic/space_fauna/revenant/_revenant.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/lootpanel.dm
  monkestation/code/modules/cassettes/machines/dj_station.dm
  monkestation/code/modules/ranching/items.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/LootPanel/GroupedContents.tsx
  tgui/packages/tgui/interfaces/LootPanel/IconDisplay.tsx
  tgui/packages/tgui/interfaces/LootPanel/LootBox.tsx
  tgui/packages/tgui/interfaces/LootPanel/RawContents.tsx
  tgui/packages/tgui/interfaces/LootPanel/index.tsx
  tgui/packages/tgui/interfaces/LootPanel/types.ts
  tgui/packages/tgui/styles/components/SearchItem.scss
  tgui/packages/tgui/styles/main.scss
Labels: Feature: Feature, Process: should testmerge, Code: TGUI

#6852 beret
  code/game/objects/items/storage/garment.dm
Labels: Feature: enhancement

#6863 Homeostasis now accounts for seconds between ticks
  monkestation/code/modules/temperature_overhaul/homeostasis_level.dm
Labels: Code: Fix

#6901 Nitrium adds 2 units of reagent so to prevent sleep properly
  code/modules/surgery/organs/lungs.dm
Labels: Balance, Fixed Upstream

#6874 Syndicate Mini-Kits and other additions
  code/game/objects/items/storage/medkit.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paperplane.dm
  code/modules/reagents/reagent_containers/pill.dm
  icons/obj/medical/chemical.dmi
  icons/obj/storage/box.dmi
  monkestation/code/modules/uplink/uplink_items/bundles.dm
  monkestation/code/modules/uplink/uplink_kits.dm
  tgstation.dme
Labels: Feature: Feature, Approval: admin approved

#6480 Global AP rebalance (No longer shotgun nerf!)
  code/game/atom_defense.dm
  code/game/objects/items.dm
  code/game/objects/items/bear_armor.dm
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/mop.dm
  code/game/objects/items/spear.dm
  code/game/objects/items/weaponry.dm
  code/modules/antagonists/heretic/items/heretic_blades.dm
  code/modules/antagonists/ninja/energy_katana.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
  code/modules/mob/living/basic/trooper/pirate.dm
  code/modules/mob/living/basic/trooper/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets/lmg.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  code/modules/projectiles/projectile/bullets/sniper.dm
  code/modules/projectiles/projectile/energy/thermal.dm
  monkestation/code/game/objects/items/caneswords.dm
  monkestation/code/game/objects/items/guns/crank_guns.dm
  monkestation/code/game/objects/items/implants/hardlight.dm
  monkestation/code/game/objects/items/miningweapons.dm
  monkestation/code/modules/a_ship_in_need_of_breaking/tool/sledgehammer.dm
  monkestation/code/modules/blueshift/items/ammo.dm
  monkestation/code/modules/blueshift/items/company_guns.dm
  monkestation/code/modules/blueshift/items/melee.dm
  monkestation/code/modules/blueshift/projectiles/__projectile_changes.dm
  monkestation/code/modules/cybernetics/implant_items/weapons/mantis_blade.dm
  monkestation/code/modules/microfusion/code/projectiles.dm
  monkestation/code/modules/smithing/anvil/smithed_parts/axe_blade.dm
  monkestation/code/modules/smithing/anvil/smithed_parts/rapier_blade.dm
  monkestation/code/modules/smithing/anvil/smithed_parts/spear_blade.dm
  monkestation/code/modules/smithing/anvil/smithed_parts/sword_blade.dm
Labels: Balance, Feature: Refactor/Rework, Approval: admin approved, Process: should testmerge

#6907 Stabilized cerulean and oil extracts now use `COMSIG_LIVING_DEATH` instead of checking each tick
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Code: Fix, Code: Improvement

#6865 Heretic sidepoints removal + some rebalance
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/knock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/antagonists/heretic/magic/blood_siphon.dm
  code/modules/antagonists/heretic/magic/void_pull.dm
  tgui/packages/tgui/interfaces/AntagInfoHeretic.tsx
Labels: Removal, Balance, Approval: admin approved

#6891 Mod suit gear items now get placed into storage units when deactivated
  code/modules/mod/modules/modules_general.dm
Labels: Code: Fix

#6920 Healium crystals actually fix air
  code/game/objects/items/grenades/atmos_grenades.dm
Labels: Code: Fix, Fixed Upstream

#6928 adds a monkecoin bonus for mentors who play head of staff
  code/__HELPERS/~monkestation-helpers/roundend.dm
Labels: Feature: Feature

#6921 atmos holofan open firelocks
  code/game/objects/items/holosign_creator.dm
Labels: QoL

#6968 Fix black market auctions
  code/controllers/subsystem/blackmarket.dm
Labels: Code: Fix

#6969 Makes most of the public departmental shutters on Box opened by default
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Change: Mapping

#6846 Mining RND #6 - PKSMG Returns
  code/game/machinery/computer/orders/order_items/mining/order_pka.dm
  code/game/objects/items/storage/belt.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  monkestation/code/modules/mining/accelerators/smg.dm
  monkestation/icons/obj/guns/ammo.dmi
  monkestation/icons/obj/guns/guns.dmi
  tgstation.dme
Labels: Feature: Feature, Approval: admin approved, Process: should testmerge

#6919 Add colored names in chat based on ID trim
  code/controllers/subsystem/id_access.dm
  code/datums/id_trim/_id_trim.dm
  code/datums/id_trim/centcom.dm
  code/game/objects/items/cards_ids.dm
  code/game/say.dm
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/renderer.jsx
  tgui/packages/tgui-panel/settings/SettingsPanel.jsx
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: QoL, Approval: admin approved, Code: TGUI

#6970 modify ballgown 1+2+3
  icons/mob/clothing/under/dress.dmi
Labels: Change: spriting

#6973 fix stacked pipes on some icebox bars
  _maps/~monkestation/RandomBars/Icebox/Drunkopsbar.dmm
  _maps/~monkestation/RandomBars/Icebox/Magbar.dmm
Labels: Change: Mapping, Code: Fix

#6799 Removes 2-pump chumps
  code/game/objects/items/melee/baton.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  monkestation/code/modules/blueshift/armaments/vitezstvi.dm
  monkestation/code/modules/blueshift/items/ammo.dm
Labels: Balance, Approval: admin approved, Process: should testmerge

#6980 Dried gibs now merge
  code/datums/components/cleaner.dm
  code/game/objects/effects/decals/cleanable/humans.dm
Labels: Code: Performance / Optimization, Process: should testmerge

#6958 Ports #74528 "Camera Obscura pictures now steal souls"
  code/modules/photography/camera/camera.dm
  code/modules/photography/camera/other.dm
Labels: Feature: Feature, Balance

#6979 some random revenant related stuff i guess
  code/datums/elements/ELEMENT_TEMPLATE.md
  code/datums/elements/squish_sound.dm
  code/game/machinery/recycler.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/game/objects/structures/spirit_board.dm
  code/modules/mob/living/basic/space_fauna/revenant/_revenant.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_abilities.dm
  monkestation/code/modules/antagonists/revenant/revenant_antag.dm
  tgstation.dme
Labels: Code: Fix, Feature: Feature, QoL, Approval: admin approved

#6992 Disable gib merging during unit tests
  code/game/objects/effects/decals/cleanable/humans.dm
Labels: Code: Fix

#6962 Burning Offering --> Cleansed Offering
  code/modules/religion/pyre_rites.dm
Labels: Code: Fix, Approval: admin approved, Oversight

#6985 cache window overlays for pressure tanks
  code/modules/atmospherics/machinery/components/tank.dm
Labels: Code: Performance / Optimization

#6988 more subsystem splitting and processing optimizations
  code/__DEFINES/~monkestation/materials.dm
  code/controllers/subsystem/processing/cooldown_actions.dm
  code/controllers/subsystem/processing/material_stats.dm
  code/datums/actions/cooldown_action.dm
  code/modules/projectiles/guns/energy/beam_rifle.dm
  monkestation/code/modules/smithing/material_changes/_base_mineral.dm
  monkestation/code/modules/smithing/material_changes/material_stats.dm
  monkestation/code/modules/smithing/material_changes/material_traits/chemical_injector.dm
  monkestation/code/modules/smithing/material_changes/material_traits/magical.dm
  monkestation/code/modules/smithing/material_changes/material_traits/radioactive.dm
  monkestation/code/modules/smithing/material_changes/material_traits/slippery.dm
  monkestation/code/modules/smithing/material_changes/material_traits/warping.dm
  tgstation.dme
Labels: Code: Performance / Optimization, Process: should testmerge

#6991 Fixes up lobby screen fading out + roundstart storyteller
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/title.dm
  code/game/area/areas/shuttles.dm
  code/modules/mob/dead/new_player/new_player.dm
  monkestation/code/modules/storytellers/storytellers/_storyteller.dm
Labels: Code: Fix, Code: Improvement

#6976 Refactors how the ghost duel arena is loaded
  _maps/map_files/generic/CentCom.dmm
  code/controllers/subsystem/mapping.dm
  code/modules/unit_tests/unit_test.dm
  monkestation/code/modules/ghost_players/arena/arena_cleanser.dm
Labels: Feature: Refactor/Rework, Code: Improvement

#6929 add a monkecoin bonus for completing station goals
  code/__HELPERS/~monkestation-helpers/roundend.dm
Labels: Feature: Feature

#6964 what if fire was less deadly
  code/__DEFINES/atmospherics/atmos_mob_interaction.dm
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: Process: do not merge, Balance, Approval: admin approved

#6974 Adds reminders to ghostroles to behave
  code/modules/antagonists/pirate/pirate_roles.dm
  code/modules/mob_spawn/ghost_roles/space_roles.dm
  code/modules/mob_spawn/mob_spawn.dm
Labels: Feature: Feature

#6999 Golem stupidity reduction
  code/modules/mob/living/carbon/human/species_types/golem/cardboard_golem.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
Labels: Approval: admin approved

#7010 Shipbreaker-gravity-fix-for-multiz
  _maps/RandomRuins/SpaceRuins/syndicate_depot.dmm
  _maps/map_files/Blueshift/Blueshift.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LeadPoisoningStation/LeadPoisoningStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/Theseus/Theseus.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__HELPERS/~monkestation-helpers/areas.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/game/machinery/_machinery.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/closed/walls.dm
  code/modules/unit_tests/mapload_space_verification.dm
  monkestation/code/modules/a_ship_in_need_of_breaking/area.dm
  monkestation/code/modules/a_ship_in_need_of_breaking/machines/console.dm
  monkestation/code/modules/a_ship_in_need_of_breaking/tool/raynewelder.dm
  monkestation/code/modules/a_ship_in_need_of_breaking/tool/sledgehammer.dm
  monkestation/code/modules/syndicate_ghostroles/depot.dm
Labels: Code: Fix

#7001 fix broken tgui passthrough + keybindings
  tgui/packages/tgui/hotkeys.ts
Labels: Code: Fix, Code: TGUI

#7014 Nukies no longer get discounts on items they cannot use.
  code/modules/antagonists/nukeop/nukeop.dm
Labels: Code: Fix

#7012 Fix the ooze compressors in the deep storage ruin facing the wrong way
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
Labels: Change: Mapping, Code: Fix

#6908 Stabilized rainbow extracts now have a 1.5 minute cooldown between activations
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/research/xenobiology/crossbreeding/stabilized.dm
  monkestation/code/modules/slimecore/crossbreeding/stabilized.dm
  tgstation.dme
Labels: Balance, Approval: admin approved

#6994 some more bloodsucker fixes
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/modules/mob/living/blood.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_datum.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_life.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_overwrites.dm
  monkestation/code/modules/bloodsuckers/clans/_clan_base.dm
  monkestation/code/modules/bloodsuckers/powers/feed.dm
  monkestation/code/modules/bloodsuckers/structures/bloodsucker_objects.dm
Labels: Code: Fix, QoL

#7016 Pipe scrubber and various additions/fixes to portable atmos devices
  _maps/map_files/Blueshift/Blueshift.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LeadPoisoningStation/LeadPoisoningStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/Theseus/Theseus.dmm
  _maps/map_files/Voidraptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/machinery/pipe/construction.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/pipe_scrubber.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/engi_nodes.dm
  icons/obj/atmospherics/atmos.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PipeScrubber.tsx
Labels: Code: Fix, Feature: Feature, QoL, Change: Sound

#7018 Updates some storage code, adds the hardsuit jetpack upgrade to the mining vendor and makes the cargo teleporter a bit smaller.
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/dcs/signals/signals_storage.dm
  code/__DEFINES/inventory.dm
  code/__DEFINES/traits/declarations.dm
  code/__HELPERS/atoms.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/aquarium_content.dm
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/bag_of_holding.dm
  code/datums/storage/subtypes/cards.dm
  code/datums/storage/subtypes/extract_inventory.dm
  code/datums/storage/subtypes/fish_case.dm
  code/datums/storage/subtypes/pockets.dm
  code/datums/storage/subtypes/rped.dm
  code/datums/storage/subtypes/trash.dm
  code/game/machinery/computer/orders/order_items/mining/order_mining.dm
  code/game/objects/items.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/tanks/jetpack.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/mob/living/carbon/human/init_signals.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/living.dm
  monkestation/code/modules/antagonists/changeling/powers/storage_cavity.dm
  monkestation/code/modules/cargo/packs/emergency.dm
  monkestation/code/modules/cargoborg/code/cargo_teleporter.dm
  monkestation/code/modules/cassettes/machines/cassette_rack.dm
  monkestation/code/modules/clothing/spacesuits/hardsuits/_hardsuit.dm
  monkestation/code/modules/jobs/job_types/explorer.dm
  tools/trait_validity/unused.ps1
Labels: Code: Fix, Feature: Feature, Balance, Approval: admin approved, Code: Improvement

#7022 Reduces meteor sat deploy time to half a second
  monkestation/code/modules/meteor_shield/meteor_shield.dm
  monkestation/code/modules/meteor_shield/meteor_shield_capsule.dm
Labels: QoL, Approval: awaiting admin review

#7002 Moves piercing syringes to chemical weaponary in techweb
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/ordnance/scipaper_partner.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/research/techweb/mech_nodes.dm
  code/modules/research/techweb/security_nodes.dm
  code/modules/research/techweb/syndicate_nodes.dm
  monkestation/code/modules/microfusion/code/microfusion_techweb.dm
  monkestation/code/modules/research/techweb/all_nodes.dm
Labels: Balance, Approval: admin approved

#7031 Forced storyteller fix
  monkestation/code/modules/storytellers/gamemode_subsystem.dm
Labels: Code: Fix

#6916 Nerfs the Depot and Deep Storage because people can't be trusted
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/syndicate_depot.dmm
  code/modules/mob_spawn/ghost_roles/space_roles.dm
  monkestation/code/modules/syndicate_ghostroles/depot.dm
Labels: Balance, Approval: admin approved

#6888 TGUI: Beaker Panel
  code/modules/admin/topic.dm
  code/modules/admin/verbs/beakerpanel.dm
  tgui/packages/tgui/interfaces/BeakerPanel.tsx
Labels: Process: testmerge only, Feature: Refactor/Rework, Code: TGUI

#7027 you can now alt-click with a xenobio vacpack to select a specific target on a tile
  monkestation/code/modules/slimecore/items/vacuum_pack.dm
  monkestation/code/modules/slimecore/machines/slime_pen_controller.dm
Labels: QoL

#7040 Halves the volume of the Black Mesa Source Military VOX voice
  code/__DEFINES/vox.dm
  code/modules/vox/voices/mil.dm
Labels: Change: Sound

#6918 Curator whip overhaul
  code/__DEFINES/combat.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/items/melee/curators_whip.dm
  code/game/objects/items/melee/misc.dm
  tgstation.dme
Labels: Feature: Expansion, Balance, Approval: awaiting admin review

#7039 Mining RND #8 - Proto Kinetic Shotgun Rework
  code/game/machinery/computer/orders/order_items/mining/order_pka.dm
  code/game/objects/items/storage/belt.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/storage/box.dmi
  icons/obj/storage/case.dmi
  icons/obj/weapons/guns/ammo.dmi
  icons/obj/weapons/guns/ballistic.dmi
  monkestation/code/modules/mining/accelerators/shotgun.dm
Labels: Feature: Feature, Approval: awaiting admin review

#7035 Circuits can only understand roundstart languages, and properly html decode messages
  code/modules/wiremod/components/atom/hear.dm
Labels: Code: Fix, Balance, Approval: awaiting admin review

#7034 Summer-donator-Jobs
  code/__DEFINES/jobs.dm
  code/__HELPERS/names.dm
  code/controllers/configuration/entries/game_options.dm
  code/game/objects/items/generic_beacon.dm
  code/game/objects/structures/crates_lockers/closets/secure/bar.dm
  code/modules/awaymissions/pamphlet.dm
  code/modules/clothing/suits/costume.dm
  code/modules/holiday/holidays.dm
  code/modules/jobs/departments/departments.dm
  code/modules/reagents/reagent_containers/cups/drinks.dm
  icons/mob/clothing/head/costume.dmi
  icons/mob/clothing/suits/costume.dmi
  icons/obj/clothing/head/costume.dmi
  icons/obj/clothing/suits/costume.dmi
  monkestation/code/game/objects/items/jukebox_beacon.dm
  monkestation/code/modules/cargo/crates/service.dm
  monkestation/code/modules/jobs/job_types/spawner/summer_donator_jobs/grill_master.dm
  monkestation/code/modules/jobs/job_types/spawner/summer_donator_jobs/gym_bro.dm
  monkestation/code/modules/jobs/job_types/spawner/summer_donator_jobs/hotdog_dude.dm
  monkestation/code/modules/jobs/job_types/spawner/summer_donator_jobs/tourist.dm
  monkestation/icons/obj/beacon.dmi
  monkestation/icons/obj/items_and_weapons.dmi
  tgstation.dme
Labels: Process: do not merge

#7048 fix plexora mangling apostrophes and such when relaying
  code/modules/admin/verbs/adminsay.dm
  monkestation/code/modules/mentor/mentor_say.dm
Labels: Code: Fix

#7052 renames `mob/usr` to `mob/user` in procs
  code/game/machinery/pipe/pipe_dispenser.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Code: Fix, Code: Improvement

#7068 Fix slime market and pen UIs being cut off at the bottom
  tgui/packages/tgui/interfaces/SlimePenController.jsx
  tgui/packages/tgui/interfaces/XenobioMarket.jsx
Labels: Code: Fix, Code: TGUI

#7033 teensy tiny BULLDAWG buff
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Balance, Approval: admin approved

#7077 Frenzy martial art is now TRAIT_STRONG_GRABBER, some auspex fixes
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_datum.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_frenzy.dm
  monkestation/code/modules/bloodsuckers/powers/tremere/auspex.dm
Labels: Code: Fix

#7078 Some runtime station/debug QOL
  _maps/map_files/debug/runtimestation.dmm
  code/game/objects/items/debug_items.dm
  code/game/objects/items/storage/boxes/engineering_boxes.dm
Labels: QoL

#7081 disable OpenDream linting complaining about `world.IsSubscribed` and `client.IsByondMember`
  tools/ci/od_lints.dm
Labels: Tools, Code: Fix

#7075 Adds mechcomp vendors to pubbystation
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Change: Mapping

#7071 hopefully fix colonies causing people to somehow end up at the transit z-level
  code/__DEFINES/maps.dm
Labels: Code: Fix, Process: should testmerge

#7085 fix a disposal in pubby medbay
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Change: Mapping, Code: Fix

#7074 Ore vent scan and description fix
  monkestation/code/modules/factory_type_beat/ore_vent.dm
Labels: Code: Fix

#7076 Fix gorilla suit and dinojammies hiding on toggle
  monkestation/icons/mob/clothing/suit.dmi
Labels: Code: Fix

#7086 prevent plexora from spamming logs when she's down
  code/controllers/subsystem/plexora.dm
Labels: Tools, Code: Fix
