Repository Monkestation/Monkestation2.0, pull requests merged in 2025-10, with the labels that each got.

#8220 Do after2
  code/__HELPERS/atoms.dm
  code/__HELPERS/mobs.dm
  code/datums/brain_damage/special.dm
  code/datums/cogbar.dm
  code/datums/components/basic_mob_attack_telegraph.dm
  code/datums/elements/strippable.dm
  code/datums/progressbar.dm
  code/game/machinery/fat_sucker.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/syndie_spraycan.dm
  code/game/objects/structures/beds_chairs/alien_nest.dm
  code/game/objects/structures/kitchen_spike.dm
  code/game/objects/structures/syndicate_uplink_beacon.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/darkspawn/darkspawn_abilities/core_abilities.dm
  code/modules/antagonists/darkspawn/darkspawn_abilities/thrall_spells.dm
  code/modules/antagonists/darkspawn/darkspawn_abilities/warlock_abilities.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/influences.dm
  code/modules/antagonists/heretic/magic/manse_link.dm
  code/modules/antagonists/heretic/magic/mirror_walk.dm
  code/modules/antagonists/heretic/structures/carving_knife.dm
  code/modules/antagonists/ninja/ninjaDrainAct.dm
  code/modules/antagonists/nukeop/equipment/borgchameleon.dm
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/_nuclear_bomb.dm
  code/modules/antagonists/traitor/objectives/locate_weakpoint.dm
  code/modules/antagonists/traitor/objectives/sabotage_machinery.dm
  code/modules/antagonists/traitor/objectives/steal.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/mob/living/basic/lavaland/watcher/watcher_gaze.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/power/supermatter/supermatter_hit_procs.dm
  icons/effects/progressbar.dmi
  monkestation/code/game/objects/items/devices/compression_kit.dm
  monkestation/code/modules/antagonists/bloodling/abilities/heal.dm
  monkestation/code/modules/antagonists/bloodling/abilities/infect.dm
  monkestation/code/modules/antagonists/bloodling/abilities/infest.dm
  monkestation/code/modules/antagonists/borers/code/abilities/enter_host.dm
  monkestation/code/modules/antagonists/borers/code/mobs/cortical_borer.dm
  monkestation/code/modules/antagonists/clock_cult/items/integration_cog.dm
  monkestation/code/modules/antagonists/clock_cult/scriptures/_scripture.dm
  monkestation/code/modules/antagonists/clock_cult/scriptures/servitude/hateful_manacles.dm
  monkestation/code/modules/bloodsuckers/powers/feed.dm
  monkestation/code/modules/bloodsuckers/powers/targeted/brawn.dm
  monkestation/code/modules/bloodsuckers/powers/targeted/lunge.dm
  monkestation/code/modules/bloodsuckers/powers/targeted/mesmerize.dm
  monkestation/code/modules/bloodsuckers/powers/tremere/dominate.dm
  monkestation/code/modules/bloodsuckers/powers/vassal/vassal_fold.dm
  monkestation/code/modules/bloodsuckers/structures/bloodsucker_coffin.dm
  monkestation/code/modules/bloodsuckers/structures/bloodsucker_objects.dm
  monkestation/code/modules/clothing/gloves/power_gloves.dm
  monkestation/code/modules/syndicate_ghostroles/depot.dm
  tgstation.dme
Labels: Code: Improvement, Process: should testmerge

#8693 Adds context to microwave
  code/modules/food_and_drinks/machinery/microwave.dm
Labels: Code: Fix, QoL, DEP:services

#8700 some fixes
  code/datums/elements/strippable.dm
  code/game/objects/items/storage/belt.dm
  monkestation/code/modules/pollution/smells/perfume.dm
Labels: Code: Fix

#8709 Fixes being actionable in hardcrit
  code/__DEFINES/status_effects.dm
  code/_onclick/click.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
Labels: Code: Fix

#8685 NT Representative rework
  _maps/map_files/Blueshift/Blueshift.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/Theseus/Theseus.dmm
  _maps/map_files/Voidraptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/whiteship_donut.dmm
  code/__DEFINES/access.dm
  code/__DEFINES/colors.dm
  code/__DEFINES/economy.dm
  code/__DEFINES/jobs.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/~monkestation/blueshift.dm
  code/__DEFINES/~monkestation/jobs.dm
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/economy.dm
  code/controllers/subsystem/ticker.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/mail.dm
  code/game/objects/structures/displaycase.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/modular_computers/computers/machinery/console_presets.dm
  code/modules/modular_computers/file_system/programs/nt_notice.dm
  code/modules/paperwork/contract.dm
  code/modules/paperwork/filingcabinet.dm
  html/browser/roundend.css
  monkestation/code/datums/id_trim/jobs.dm
  monkestation/code/game/objects/structures/crates_lockers/closets/secure/nanotrasen_rep.dm
  monkestation/code/modules/blueshift/icons/cowboyobh.dmi
  monkestation/code/modules/blueshift/sounds/clock_ticking.ogg
  monkestation/code/modules/blueshift/structures/office.dm
  monkestation/code/modules/jobs/departments/departments.dm
  monkestation/code/modules/jobs/job_types/blueshield.dm
  monkestation/code/modules/jobs/job_types/nanotrasen_representative.dm
  monkestation/code/modules/modular_computers/computers/item/role_tablet_presets.dm
  monkestation/sound/ambience/clock/clock_ticking_1.ogg
  monkestation/sound/ambience/clock/clock_ticking_2.ogg
  monkestation/sound/ambience/clock/clock_ticking_3.ogg
  monkestation/sound/ambience/clock/clock_ticking_4.ogg
  monkestation/sound/ambience/clock/clock_ticking_5.ogg
  monkestation/sound/ambience/clock/clock_ticking_6.ogg
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosNtRep.tsx
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
  tgui/packages/tgui/styles/interfaces/PreferencesMenu.scss
Labels: peak, Change: Mapping, Feature: Expansion, Feature: Refactor/Rework, QoL, Approval: admin approved, DEP:command

#8724 Touching up thesues RD office
  _maps/map_files/Theseus/Theseus.dmm
Labels: Change: Mapping

#8750 Clown car steals access again
  code/modules/vehicles/cars/clowncar.dm
  code/modules/vehicles/sealed.dm
Labels: Code: Fix

#8749 Fix space suit not drawing the amount of power it's supposed to
  code/modules/clothing/spacesuits/_spacesuits.dm
Labels: Code: Fix

#8706 Fixes TK teleporting surgical tray
  code/game/objects/items/surgery_tray.dm
Labels: Code: Fix

#8466 New Nanite Programs 2 this time its tested
  monkestation/code/modules/research/designs/nanite_designs.dm
  monkestation/code/modules/research/nanites/nanite_programs/suppression.dm
  monkestation/code/modules/research/nanites/nanite_programs/utility.dm
  monkestation/code/modules/research/nanites/program_disk.dm
  monkestation/code/modules/research/techweb/all_nodes.dm
Labels: Feature: Expansion, Approval: admin approved, DEP:science

#8544 FIX/Overclocked Volume Pump Leaking in Solid Structures
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
Labels: Code: Fix, Code: Performance / Optimization

#8776 Allow meteor sat capsules to fit in construction bags
  code/datums/storage/subtypes/bags.dm
Labels: QoL

#8686 cluwne brain trauma fix for real
  code/__HELPERS/honkerblast.dm
  code/modules/cluwne/cluwne_clothing.dm
Labels: Code: Fix

#8770 make clock cult actually playable (somewhat)
  code/modules/power/apc/apc_main.dm
Labels: Code: Fix, Antagonist

#8684 YOU SHOULD SHIT YOURSELF.... NOW!!
  code/datums/voice_of_god_command.dm
Labels: Feature: Feature, Funny

#8456 [PORT] [FEATURE] [BALANCE] Adds bluespace grounder implants from tg + minor armory consistency updates
  _maps/map_files/Blueshift/Blueshift.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Graveyard/Graveyard.dmm
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LeadPoisoningStation/LeadPoisoningStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/Theseus/Theseus.dmm
  _maps/map_files/Voidraptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/dcs/signals/signals_spell.dm
  code/__DEFINES/implants.dm
  code/_globalvars/lists/objects.dm
  code/game/data_huds.dm
  code/game/machinery/computer/prisoner/_prisoner.dm
  code/game/machinery/computer/prisoner/management.dm
  code/game/objects/items/implants/implant.dm
  code/game/objects/items/implants/security/implant_chem.dm
  code/game/objects/items/implants/security/implant_exile.dm
  code/game/objects/items/implants/security/implant_noteleport.dm
  code/game/objects/items/implants/security/implant_track.dm
  code/game/objects/items/storage/boxes/implant_boxes.dm
  code/game/objects/items/storage/boxes/security_boxes.dm
  code/modules/cargo/packs/security.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/spells/spell_types/jaunt/_jaunt.dm
  icons/mob/huds/hud.dmi
  monkestation/code/modules/bloodsuckers/powers/go_home.dm
  monkestation/code/modules/cargo/crates/security.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PrisonerManagement.tsx
Labels: Change: Mapping, Feature: Feature, Balance

#8465 Wormhole jaunters now protect from chasms while in your pocket
  code/datums/components/chasm.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
Labels: Balance, Approval: admin approved

#8475 Adjusts how various antags are factored into the antag cap
  code/__DEFINES/antagonists.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/battlecruiser/battlecruiser.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/fugitive/fugitive.dm
  code/modules/antagonists/fugitive/hunters/hunter.dm
  code/modules/antagonists/greentext/greentext.dm
  code/modules/antagonists/santa/santa.dm
  code/modules/antagonists/shade/shade_minion.dm
  code/modules/antagonists/spiders/spiders.dm
  code/modules/antagonists/survivalist/survivalist.dm
  code/modules/antagonists/syndicate_monkey/syndicate_monkey.dm
  code/modules/antagonists/xeno/xeno.dm
  monkestation/code/modules/antagonists/clock_cult/antag_datums/clock_cultist.dm
  monkestation/code/modules/antagonists/teratoma/teratoma.dm
  monkestation/code/modules/bloodsuckers/vassals/ex_vassal.dm
  monkestation/code/modules/storytellers/gamemode_subsystem.dm
Labels: Balance, Approval: admin approved, Antagonist

#8611 Darkspawn Damage mod fixes
  code/modules/antagonists/darkspawn/_psi_web.dm
  code/modules/antagonists/darkspawn/darkspawn_abilities/core_abilities.dm
  code/modules/antagonists/darkspawn/darkspawn_abilities/mixed_abilities.dm
  code/modules/antagonists/darkspawn/darkspawn_antag.dm
  code/modules/antagonists/darkspawn/darkspawn_classes/_class.dm
  code/modules/antagonists/darkspawn/darkspawn_objects/crawling_shadows.dm
  code/modules/antagonists/darkspawn/darkspawn_upgrades/passive_upgrades.dm
  code/modules/language/shadowtongue.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/golem/_golems.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  icons/misc/language.dmi
  icons/obj/storage/crates.dmi
  monkestation/code/modules/a_ship_in_need_of_breaking/tool/raynewelder.dm
  monkestation/code/modules/bloodsuckers/structures/bloodsucker_coffin.dm
  monkestation/code/modules/storytellers/converted_events/solo/darkspawn.dm
  monkestation/icons/bloodsuckers/vamp_obj.dmi
  strings/names/nightmare.txt
  tgui/packages/tgui/interfaces/AntagInfoDarkspawn.tsx
Labels: Code: Fix, Balance, Antagonist

#8811 fixes remote injectors/patchers/factories
  monkestation/code/modules/wiremod_chem/components/ouputs/factory_output.dm
  monkestation/code/modules/wiremod_chem/components/ouputs/injector_output.dm
  monkestation/code/modules/wiremod_chem/components/ouputs/patcher_output.dm
Labels: Code: Fix, DEP:medical

#8822 stacking machine and xeno door prying fix
  code/datums/elements/door_pryer.dm
  code/game/machinery/doors/airlock.dm
  code/modules/mining/laborcamp/laborstacker.dm
Labels: Code: Fix

#8778 Prevent cleaning/painting polarized windows
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/game/objects/items/crayons.dm
  code/game/objects/structures/window.dm
  monkestation/code/modules/blueshift/components/polarizer.dm
Labels: Code: Fix

#8698 Oozelings now properly lose blood when starving
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/oozeling/_oozelings.dm
Labels: Code: Fix, Balance, Code: Improvement

#8400 ensure all maps have at least 5 engi SMESes (+ misc engineering qol/consistency)
  _maps/map_files/Blueshift/Blueshift.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Graveyard/Graveyard.dmm
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/LeadPoisoningStation/LeadPoisoningStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/Theseus/Theseus.dmm
  _maps/map_files/Voidraptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Change: Mapping, QoL

#8823 [PORT] Fixes atmospherics components air relocation and unsafe pressure release, cryo chambers now use gas connector component
  _maps/RandomRuins/SpaceRuins/syndicate_depot.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/research.dmm
  _maps/map_files/Blueshift/Blueshift.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Graveyard/Graveyard.dmm
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LeadPoisoningStation/LeadPoisoningStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/Theseus/Theseus.dmm
  _maps/map_files/Voidraptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_cruise.dmm
  _maps/shuttles/ert_generic.dmm
  _maps/shuttles/pirate_ex_interdyne.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/templates/battlecruiser_starfury.dmm
  code/__DEFINES/dcs/signals/signals_object.dm
  code/_globalvars/phobias.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_core.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_parts.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer.dm
  code/modules/atmospherics/machinery/components/unary_devices/bluespace_sender.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/atmospherics/machinery/components/unary_devices/machine_connector.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/atmospherics/machinery/pipes/multiz.dm
  code/modules/experisci/experiment/experiments.dm
  monkestation/code/modules/blood_datum/vital_monitor/vital_reader.dm
  monkestation/code/modules/blueshift/machines/sterling_generator.dm
  monkestation/code/modules/virology/immune_systems/_immune_system.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/78273_cryo_removed_atmosmachinery_path.txt
Labels: Tweak, Feature: Refactor/Rework

#8838 remove most restrictions on what areas a bloodsucker can use as a lair
  monkestation/code/modules/bloodsuckers/structures/bloodsucker_coffin.dm
Labels: QoL

#8837 Oozeling bloodsuckers now lose blood from water (and also fix the ocean not melting oozelings)
  code/modules/mob/living/carbon/human/species_types/oozeling/_oozelings.dm
  monkestation/code/modules/liquids/liquid_status_effect.dm
Labels: Code: Fix, Balance

#8767 Prevent DNA Vault from rolling useless mutations (i.e fire immunity for oozelings)
  code/modules/station_goals/dna_vault.dm
Labels: QoL

#8664 PDA Painters applying trims will now automatically give Maintenace Access
  code/game/machinery/PDApainter.dm
Labels: Code: Fix

#8666 [PORT] reworks mirrors and fixes pride mirror cheese
  code/datums/mood_events/generic_negative_events.dm
  code/game/objects/structures/mirror.dm
  icons/hud/radial.dmi
Labels: Code: Fix, QoL, Code: Improvement

#8577 random bugfixes i guess idfk
  code/__HELPERS/~monkestation-helpers/areas.dm
  code/datums/components/_component.dm
  code/datums/components/deployable.dm
  code/datums/components/shuttle_cling.dm
  code/datums/mind/_mind.dm
  code/datums/quirks/negative_quirks/prosthetic_limb.dm
  code/datums/quirks/positive_quirks/bilingual.dm
  code/datums/quirks/positive_quirks/polyglot.dm
  code/datums/status_effects/gas.dm
  code/game/machinery/computer/camera_advanced.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/darkspawn/darkspawn_abilities/fighter_abilities.dm
  code/modules/antagonists/darkspawn/darkspawn_abilities/scout_abilities.dm
  code/modules/antagonists/darkspawn/darkspawn_abilities/warlock_abilities.dm
  code/modules/antagonists/separatist/separatist.dm
  code/modules/clothing/under/_under.dm
  code/modules/events/radiation_storm.dm
  code/modules/indicators/combat_indicator.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot_ai.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/living_defense.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/modular_implants/nifsofts.dm
  code/modules/projectiles/guns/energy/recharge.dm
  code/modules/reagents/chemistry/machinery/chem_heater.dm
  code/modules/spells/spell.dm
  monkestation/code/modules/antagonists/bloodling/abilities/infect.dm
  monkestation/code/modules/art_sci_overrides/artifact_components/_base_component_signal_procs.dm
  monkestation/code/modules/blood_datum/blood.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_datum.dm
  monkestation/code/modules/bloodsuckers/powers/feed.dm
  monkestation/code/modules/bloodsuckers/structures/bloodsucker_coffin.dm
  monkestation/code/modules/bloodsuckers/structures/bloodsucker_crypt.dm
  monkestation/code/modules/bloodsuckers/vassals/vassal_datum.dm
  monkestation/code/modules/datums/components/nanites.dm
  monkestation/code/modules/events/radiation_storm.dm
  monkestation/code/modules/factory_type_beat/processing/refinery.dm
  monkestation/code/modules/liquids/liquid_ocean.dm
  monkestation/code/modules/liquids/liquid_status_effect.dm
  monkestation/code/modules/security/code/officermonitor.dm
  monkestation/code/modules/slimecore/components/latch_feeding.dm
  monkestation/code/modules/surgery/organs/internal/brain.dm
  monkestation/code/modules/trading/unusual_effects/_unusual_component.dm
  tgstation.dme
Labels: Code: Fix, Process: should testmerge

#8326 Coughing Parasol Vs Hydrogen Fusion
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_moodlets.dm
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_sol.dm
Labels: Balance, Approval: admin approved, Antagonist

#8399 Balances Heroic Laser Muskets
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Balance, Approval: admin approved

#8851 Fixes PACMANs saying they produce half of what they actually produce on examine
  code/modules/power/port_gen.dm
Labels: Code: Fix, Fixed Upstream, Good first PR

#8860 Repacking fixes
  code/game/objects/structures/crates_lockers/crates.dm
  monkestation/code/modules/blueshift/elements/repacking.dm
  monkestation/code/modules/blueshift/structures/flatpacker.dm
Labels: Code: Fix

#8334 Replaces plague rats door passthrough with a do-after
  code/game/machinery/doors/door.dm
  monkestation/code/modules/virology/disease/plague_rat/plague_rat.dm
Labels: Removal, Balance

#8060 IPCs can use nanites and also be harmed by nanites
  monkestation/code/modules/datums/components/nanites.dm
  monkestation/code/modules/research/nanites/nanite_chamber_computer.dm
  monkestation/code/modules/research/nanites/nanite_programs/utility.dm
  monkestation/code/modules/research/nanites/public_chamber.dm
Labels: Balance

#8852 Fix pyroxadone not healing enough burn to survive heat
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance

#8332 [PORT] Refactors filters to utilize binary insertion instead of timSort
  code/__HELPERS/_lists.dm
  code/_onclick/hud/rendering/plane_master_controller.dm
  code/datums/datum.dm
  code/modules/admin/view_variables/filterrific.dm
  code/modules/point/point.dm
  code/modules/unit_tests/plane_double_transform.dm
Labels: Code: Performance / Optimization, Code: Improvement, Process: should testmerge

#8592 makes the staff of storms normal sized
  code/modules/mining/lavaland/megafauna_loot.dm
Labels: Balance, Approval: awaiting admin review

#8407 MGS Alert Emote
  code/datums/emotes.dm
  monkestation/code/modules/emotes/code/emote.dm
Labels: Feature: Feature, Code: Improvement

#8226 Maintenacedrone2.1.exe
  code/__DEFINES/drone.dm
  code/modules/mob/living/basic/drone/_drone.dm
  code/modules/mob/living/basic/drone/drone_say.dm
  sound/misc/incoming_transmission.ogg
  sound/misc/license.txt
Labels: Feature: Feature, QoL, Change: Sound

#8875 [PORT] Adds glowing bits and pieces to a bunch of lavaland mobs
  code/datums/actions/mobs/create_legion_skull.dm
  code/modules/mining/equipment/kinetic_crusher/trophies_megafauna.dm
  code/modules/mob/living/basic/lavaland/bileworm/_bileworm.dm
  code/modules/mob/living/basic/lavaland/brimdemon/brimbeam.dm
  code/modules/mob/living/basic/lavaland/brimdemon/brimdemon.dm
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath.dm
  code/modules/mob/living/basic/lavaland/goliath/tentacle.dm
  code/modules/mob/living/basic/lavaland/legion/legion.dm
  code/modules/mob/living/basic/lavaland/legion/legion_brood.dm
  code/modules/mob/living/basic/lavaland/legion/legion_tumour.dm
  code/modules/mob/living/basic/lavaland/legion/spawn_legions.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
  code/modules/mob/living/basic/lavaland/mining.dm
  code/modules/mob/living/basic/lavaland/watcher/watcher.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  icons/mob/simple/icemoon/icemoon_monsters.dmi
  icons/mob/simple/lavaland/bileworm.dmi
  icons/mob/simple/lavaland/lavaland_monsters.dmi
  icons/mob/simple/lavaland/lavaland_monsters_wide.dmi
  monkestation/code/modules/library/skill_learning/job_skillchips/shaft_miner.dm
  tools/UpdatePaths/Scripts/92730_legion_broods.txt
Labels: Change: spriting, Code: Fix, Feature: Feature

#8849 Allow bloodsuckers to hide in lockers/crates/etc during Sol
  monkestation/code/modules/bloodsuckers/bloodsucker/bloodsucker_sol.dm
Labels: Balance

#8891 minor performance improvement for storyteller code
  monkestation/code/modules/storytellers/gamemode_subsystem.dm
  monkestation/code/modules/storytellers/storytellers/_storyteller.dm
Labels: Code: Performance / Optimization

#8902 Fixes hiding in trash piles + Context screentips
  monkestation/code/game/objects/structures/trash_pile.dm
Labels: Code: Fix
